@charset "UTF-8";

@import "./sub.css";

#content h1, h2, h3, h4, h5, h6 {
	color: #330011;
}

#content h2 {
	background: transparent url(../image/parts/lahead-score.png) no-repeat;
}

#sidebar ul ul a {
	color: #FFDDFF;
}
#sidebar ul ul a:hover {
	color: #DDAADD;
}
