@charset "UTF-8";

body {
  font-family:  Verdana, Arial, sans-serif;
  font-size: 10pt;
}

/* ------------------------------ main layout { */
#header {
  padding: 0 10px 25px 0;
}
#content {
  float: right;
  width: 80%;
}
#sideBar {
  margin-right: 85%;
}
#footer {
  clear: right;
}
/* ------------------------------ main layout } */

/* ------------------------------ header { */
#header h1 {
  color: #fff;
  background: #af0000;
  font-size: 280%;
  padding: 10px 0 0 20px;
  margin-bottom: 10px;
}
#header h1 a {
	text-decoration: none;
	display: block;
	color: #fff;
}
#header div {
  border-bottom: 1px solid #af0000;
}
#header ul {
  margin: 0 0 4px 25%;
}
#header li {
  margin: 0;
  padding: 0;
  display: inline;
  list-style-type: none;
}
#header li a {
  margin: 0 10px 4px 10px;
  font-weight: bold;
  color: #af0000;
  text-decoration: none;
}
#header li a.active{
  border-bottom: 4px solid #af0000;
}
#header li a:hover {
  border-bottom: 4px solid #FF9F9F;
  color: #FF9F9F;
}
/* ------------------------------ header } */


/* ------------------------------ content { */
#content {
  line-height: 150%;
}
/* ------------ table */
#content table {
	border-top: 1px solid #999;
	border-left: 1px solid #999;
	border-collapse: collapse;
}
#content caption {
	font-weight: bold;
	padding-bottom: 6px;
}
#content th, #content td {
	padding: 5px;
	border-right: 1px solid #999;
	border-bottom: 1px solid #999;
}
#content th {
	background-color: #CDBA96;
}
/* ------------ code */
#content code {
	display: block;
	padding: 10px 0 10px 25px;
	background-color: #E6E6FA;
	font-size: 90%;
}
#content pre {
	width: 100%;
	overflow: scroll;
}
/* ------------------------------ content } */


/* ------------------------------ sideBar { */
#sideBar h3 {
  color: #af0000;
  background-color: #fff;
  border-left: solid 5px #af0000;
  font-size: 100%;
  padding: 5px 0 5px 5px;
  margin: 0;
  width: auto;
}
#sideBar ul {
	margin: 5px 0 10px 10px;
	padding-left: 5px;
}
#sideBar li {
  list-style-type: square;
  color: #6e7955;
  padding: 0 0 5px 0;
}
#sideBar ul li ul {
	margin-bottom: 0;
	padding-left: 0;
}
#sideBar a {
	font-size: 85%;
}
/* ------------------------------ sideBar } */


/* ------------------------------ footer { */
#footer {
  border-top: 1px solid #af0000;
}
#footer ul {
  margin: 0 0 0 35%;
}
#footer li {
  display: inline;
  list-style-type: none;
  margin-left: 10px;
}
#footer a{
  color: #5b6356;
  font-size: 85%;
  font-weight: bold;
  text-decoration: none;
}
#footer a:hover{
  text-decoration: underline;
}
/* ------------------------------ footer } */
