<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>MEMBER_SECURITY</title>
<link href="../css/ea.css" rel="stylesheet" type="text/css" />
<script>
function initPage(src) {
	if(parent==this&&(this.location+"").indexOf('EARoot')!=-1)
		document.location=(this.location+"").substring(0,(this.location+"").indexOf('EARoot'))+"index"+(this.location+"").substring((this.location+"").lastIndexOf('.'))+"?goto="+((this.location+"").substring((this.location+"").indexOf('EARoot')+7,(this.location+"").lastIndexOf('.')).replace(/\//g,':').replace(/EA/g,""));
	else
		parent.initPage(src);
}
</script>
</head>
<body onload="initPage(this);" class="Content">
<div class="pageHeader"></div>
<div class="PageBody">
	<span class="ObjectTitle">MEMBER_SECURITY  (会員セキュリティ情報) : public   &lt;&lt;table&gt;&gt; クラス</span>
	<table border="0" cellpadding="0" cellspacing="0" class="ObjectDetails">
		<tr>
			<td width="15%" class="ObjectDetailsTopic">作成日:</td>
			<td width="85%" class="ObjectDetailsValue">2007/10/21 16:26:06</td>
		</tr>
		<tr>
			<td class="ObjectDetailsTopic">更新日:</td>
			<td class="ObjectDetailsValue">2007/10/22 0:28:17</td>
		</tr>
		<tr style="height: 10px"><td colspan="2"></td></tr>
		<tr>
			<td class="ObjectDetailsTopic"><img src="../images/plus03.gif" align="absmiddle" id="proj" onclick="parent.toggleData(this.id)" />プロジェクト:</td>
			<td class="ObjectDetailsValue"></td>
		</tr>
		<tr id="proj00" style="display: none;">
			<td class="ObjectDetailsTopic" style="padding-left: 18px;">作者:</td>
			<td class="ObjectDetailsValue"></td>
		</tr>
		<tr id="proj01" style="display: none;">
			<td class="ObjectDetailsTopic" style="padding-left: 18px;">バージョン:</td>
			<td class="ObjectDetailsValue">1.0</td>
		</tr>
		<tr id="proj02" style="display: none;">
			<td class="ObjectDetailsTopic" style="padding-left: 18px;">フェーズ:</td>
			<td class="ObjectDetailsValue">1.0</td>
		</tr>
		<tr id="proj03" style="display: none;">
			<td class="ObjectDetailsTopic" style="padding-left: 18px;">状態:</td>
			<td class="ObjectDetailsValue">設計中</td>
		</tr>
		<tr id="proj04" style="display: none;">
			<td class="ObjectDetailsTopic" style="padding-left: 18px;">複雑度:</td>
			<td class="ObjectDetailsValue">簡単</td>
		</tr>
		<tr>
			<td class="ObjectDetailsTopic"><img src="../images/plus03.gif" align="absmiddle" id="adv" onclick="parent.toggleData(this.id)" />追加情報:</td>
			<td class="ObjectDetailsValue"></td>
		</tr>
		<tr id="adv00" style="display: none;">
			<td class="ObjectDetailsTopic" style="padding-left: 18px;">GUID:</td>
			<td class="ObjectDetailsValue">{982F98EB-6F10-460c-BF43-5DD8B5118FF5}</td>
		</tr>
		<tr id="adv01" style="display: none;">
			<td class="ObjectDetailsTopic" style="padding-left: 18px;">ダイアグラム:</td>
			<td class="ObjectDetailsValue"><a href="EA1.html">example_db-cls</a></td>
		</tr>
	</table>
	
	<div class="TableGroup" id="TableGroup">
		<ul class="ItemTitle">
			<li onClick="parent.toggleItem('Attributes');" id="AttributesTitle">属性</li>
			<li onClick="parent.toggleItem('Operations');" id="OperationsTitle">操作</li>
			<li onClick="parent.toggleItem('Associationsターゲット');" id="AssociationsターゲットTitle">接続の概要 ターゲット</li>
		</ul>
<div class="ItemBody" id="AttributesTable">
	<table border="0" cellspacing="0" cellpadding="0" class="Table">
		<tr>
			<td width="40%" class="TableHeading">属性</td>
			<td width="60%" class="TableHeading">詳細</td>
		</tr>
						<tr>
				<td width="40%" class="TableRow" valign="top"><i>public INTEGER</i><br /><strong>&nbsp;&nbsp;MEMBER_ID</strong></td>
				<td width="60%" class="TableRow" valign="top"><i>別名:</i> 会員ID<br><i>&lt;&lt;column&gt;&gt;Ordered <br /></i>&nbsp;</td>
			</tr>			<tr>
				<td width="40%" class="TableRow" valign="top"><i>public VARCHAR(50)</i><br /><strong>&nbsp;&nbsp;LOGIN_PASSWORD</strong></td>
				<td width="60%" class="TableRow" valign="top"><i>別名:</i> ログインパスワード<br><i>&lt;&lt;column&gt;&gt;<br></i>&nbsp;</td>
			</tr>			<tr>
				<td width="40%" class="TableRow" valign="top"><i>public VARCHAR(50)</i><br /><strong>&nbsp;&nbsp;REMINDER_QUESTION</strong></td>
				<td width="60%" class="TableRow" valign="top"><i>別名:</i> リマインダ質問<br><i>&lt;&lt;column&gt;&gt;<br></i>&nbsp;</td>
			</tr>			<tr>
				<td width="40%" class="TableRow" valign="top"><i>public VARCHAR(50)</i><br /><strong>&nbsp;&nbsp;REMINDER_ANSWER</strong></td>
				<td width="60%" class="TableRow" valign="top"><i>別名:</i> リマインダ回答<br><i>&lt;&lt;column&gt;&gt;<br></i>&nbsp;</td>
			</tr>			<tr>
				<td width="40%" class="TableRow" valign="top"><i>public DATETIME</i><br /><strong>&nbsp;&nbsp;REGIST_DATE</strong></td>
				<td width="60%" class="TableRow" valign="top"><i>&lt;&lt;column&gt;&gt;<br></i>&nbsp;</td>
			</tr>			<tr>
				<td width="40%" class="TableRow" valign="top"><i>public VARCHAR(200)</i><br /><strong>&nbsp;&nbsp;REGIST_PROCESS</strong></td>
				<td width="60%" class="TableRow" valign="top"><i>&lt;&lt;column&gt;&gt;<br></i>&nbsp;</td>
			</tr>			<tr>
				<td width="40%" class="TableRow" valign="top"><i>public VARCHAR(200)</i><br /><strong>&nbsp;&nbsp;REGIST_USER</strong></td>
				<td width="60%" class="TableRow" valign="top"><i>&lt;&lt;column&gt;&gt;<br></i>&nbsp;</td>
			</tr>			<tr>
				<td width="40%" class="TableRow" valign="top"><i>public DATETIME</i><br /><strong>&nbsp;&nbsp;UPDATE_DATE</strong></td>
				<td width="60%" class="TableRow" valign="top"><i>&lt;&lt;column&gt;&gt;<br></i>&nbsp;</td>
			</tr>			<tr>
				<td width="40%" class="TableRow" valign="top"><i>public VARCHAR(200)</i><br /><strong>&nbsp;&nbsp;UPDATE_PROCESS</strong></td>
				<td width="60%" class="TableRow" valign="top"><i>&lt;&lt;column&gt;&gt;<br></i>&nbsp;</td>
			</tr>			<tr>
				<td width="40%" class="TableRow" valign="top"><i>public VARCHAR(200)</i><br /><strong>&nbsp;&nbsp;UPDATE_USER</strong></td>
				<td width="60%" class="TableRow" valign="top"><i>&lt;&lt;column&gt;&gt;<br></i>&nbsp;</td>
			</tr>			<tr>
				<td width="40%" class="TableRow" valign="top"><i>public BIGINT</i><br /><strong>&nbsp;&nbsp;VERSION_NO</strong></td>
				<td width="60%" class="TableRow" valign="top"><i>&lt;&lt;column&gt;&gt;<br></i>&nbsp;</td>
			</tr>
		</table>
</div><div class="ItemBody" id="OperationsTable">
	<table border="0" cellspacing="0" cellpadding="0" class="Table">
		<tr>
			<td width="40%" class="TableHeading">操作</td>
			<td width="60%" class="TableHeading">詳細</td>
		</tr>
						<tr>
				<td width="40%" class="TableRow">
					<i>public</i><br />
					<strong>FK_MEMBER_SC_INFO_MEMBER</strong>(<br />
					<a href="#" onclick="parent.toggleData('param{BBA57FD4-E73B-4377-A45E-3FA626CBB43A}')" style="text-decoration: none; color: #000000;"><img src="../images/plus03.gif" align="absmiddle" id="param{BBA57FD4-E73B-4377-A45E-3FA626CBB43A}" border="0" />MEMBER_ID: INTEGER</a>, 
					<table border="0" cellspacing="0" cellpadding="0" class="Table" style="padding: 4px 18px;">
						<tr id="param{BBA57FD4-E73B-4377-A45E-3FA626CBB43A}00" style="display: none;">
							<td width="50"><strong>既定値:</strong></td>
							<td></td>
						</tr>
						<tr id="param{BBA57FD4-E73B-4377-A45E-3FA626CBB43A}01" style="display: none;">
							<td width="50"><strong>型:</strong></td>
							<td>in</td>
						</tr>
						<tr id="param{BBA57FD4-E73B-4377-A45E-3FA626CBB43A}02" style="display: none;">
							<td width="50"><strong>ステレオタイプ: </strong></td>
							<td></td>
						</tr>
						<tr id="param{BBA57FD4-E73B-4377-A45E-3FA626CBB43A}03" style="display: none;">
							<td width="50"></td>
							<td></td>
						</tr>
					</table>
):
				</td>
				<td width="60%" class="TableRow">
					<i> &lt;&lt;FK&gt;&gt; </i>
					<table>
						<tr>
							<td valign = "top"><i>タグ:</i><span style="margin-left: .7cm;"> </span></td>
							<td>property=Delete Cascade=0;Update Cascade=0;</td>
						</tr>
					</table>
					
				</td>
			</tr>
			<tr>
				<td width="40%" class="TableRow">
					<i>public</i><br />
					<strong>PK_MEMBER_SC_INFO</strong>(<br />
					<a href="#" onclick="parent.toggleData('param{E5A41C50-B3B0-4fa1-A26E-75149506898A}')" style="text-decoration: none; color: #000000;"><img src="../images/plus03.gif" align="absmiddle" id="param{E5A41C50-B3B0-4fa1-A26E-75149506898A}" border="0" />MEMBER_ID: INTEGER</a>, 
					<table border="0" cellspacing="0" cellpadding="0" class="Table" style="padding: 4px 18px;">
						<tr id="param{E5A41C50-B3B0-4fa1-A26E-75149506898A}00" style="display: none;">
							<td width="50"><strong>既定値:</strong></td>
							<td></td>
						</tr>
						<tr id="param{E5A41C50-B3B0-4fa1-A26E-75149506898A}01" style="display: none;">
							<td width="50"><strong>型:</strong></td>
							<td>in</td>
						</tr>
						<tr id="param{E5A41C50-B3B0-4fa1-A26E-75149506898A}02" style="display: none;">
							<td width="50"><strong>ステレオタイプ: </strong></td>
							<td></td>
						</tr>
						<tr id="param{E5A41C50-B3B0-4fa1-A26E-75149506898A}03" style="display: none;">
							<td width="50"></td>
							<td></td>
						</tr>
					</table>
):
				</td>
				<td width="60%" class="TableRow">
					<i> &lt;&lt;PK&gt;&gt; </i>
					<table>
						<tr>
							<td valign = "top"><i></i><span style="margin-left: .7cm;"> </span></td>
							<td></td>
						</tr>
					</table>
					
				</td>
			</tr>

		</table>
</div>		<div class="ItemBody" id="AssociationsターゲットTable">
			<table border="0" cellspacing="0" cellpadding="0" class="Table">
				<tr>
					<td width="20%" class="TableHeading">要素</td>
					<td width="25%" class="TableHeading">ソースの役割</td>
					<td width="25%" class="TableHeading">ターゲットの役割</td>
					<td width="30%" class="TableHeading">詳細</td>
				</tr>
				<tr>
					<td width="20%" class="TableRow" valign="top">
						<a href="EA4.html">«table» MEMBER</a><br />
						クラス «FK» 
					</td>
					<td width="20%" class="TableRow" valign="top">
						<strong>Name:</strong> FK_MEMBER_SC_INFO_MEMBER<br />
						&nbsp;
					</td>
					<td width="20%" class="TableRow" valign="top">
						<strong>Name:</strong> PK_MEMBER<br />
						&nbsp;	
					</td>
					<td width="30%" class="TableRow" valign="top">&nbsp;</td>
				</tr>

			</table>
		</div>
	</div>
<div class="pageFooter"></div>
 
</body>
</html>