<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>task_list</title>
<link href="../css/ea.css" rel="stylesheet" type="text/css" />
<script>
function initPage(src) {
	if(parent==this&&(this.location+"").indexOf('EARoot')!=-1)
		document.location=(this.location+"").substring(0,(this.location+"").indexOf('EARoot'))+"index"+(this.location+"").substring((this.location+"").lastIndexOf('.'))+"?goto="+((this.location+"").substring((this.location+"").indexOf('EARoot')+7,(this.location+"").lastIndexOf('.')).replace(/\//g,':').replace(/EA/g,""));
	else
		parent.initPage(src);
}
</script>
</head>
<body onload="initPage(this);" class="Content">
<div class="PageBody">
	
<img src="EA2.png" usemap="#EA2" border="0" />

<MAP NAME="EA2">
<area shape="rect" coords="227,702,568,1055" href="EA11.html">
<area shape="rect" coords="693,931,1009,1048" href="EA9.html">
<area shape="rect" coords="1024,881,1170,936" href="EA14.html">
<area shape="rect" coords="1205,267,1542,1046" href="EA12.html">
<area shape="rect" coords="749,577,1089,732" href="EA13.html">
<area shape="rect" coords="857,863,949,922" href="EA25.html">
<area shape="rect" coords="978,813,1070,872" href="EA15.html">
<area shape="rect" coords="1085,746,1177,805" href="EA24.html">
<area shape="rect" coords="579,835,722,900" href="EA8.html">
<area shape="rect" coords="1043,260,1158,302" href="EA10.html">
<area shape="rect" coords="1197,102,1247,159" href="EA6.html">
<area shape="rect" coords="1146,10,1196,67" href="EA3.html">
<area shape="rect" coords="18,168,68,225" href="EA18.html">
<area shape="rect" coords="1026,319,1116,381" href="EA22.html">
<area shape="rect" coords="227,587,317,652" href="EA20.html">
<area shape="rect" coords="335,333,425,395" href="EA21.html">
<area shape="rect" coords="647,329,737,419" href="EA16.html">
<area shape="rect" coords="888,183,978,233" href="EA23.html">
<area shape="rect" coords="846,464,947,514" href="EA5.html">
<area shape="rect" coords="644,715,740,765" href="EA7.html">
<area shape="rect" coords="440,520,530,570" href="EA17.html">
<area shape="rect" coords="188,183,278,233" href="EA4.html">
<area shape="rect" coords="482,179,572,229" href="EA19.html">
</MAP>

	<div class="ObjectTitle">task_list : コミュニケーション図</div>
	<table border="0" cellpadding="0" cellspacing="0" class="ObjectDetails">
		<tr>
			<td width="15%" class="ObjectDetailsTopic">作成日:</td>
			<td width="85%" class="ObjectDetailsValue">2007/06/26 22:02:29</td>
		</tr>
		<tr>
			<td width="15%" class="ObjectDetailsTopic">更新日:</td>
			<td width="85%" class="ObjectDetailsValue">2007/06/27 0:04:58</td>
		</tr>
		<tr style="padding-top: 10px;">
			<td width="15%" class="ObjectDetailsTopic"><img src="../images/plus03.gif" align="absmiddle" id="proj" onclick="parent.toggleData(this.id)" />プロジェクト:</td>
			<td width="85%" class="ObjectDetailsValue"></td>			
		</tr>
		<tr id="proj00" style="display: none;">
			<td width="15%" class="ObjectDetailsTopic" style="padding-left: 18px;">作者:</td>
			<td width="85%" class="ObjectDetailsValue"></td>
		</tr>
		<tr id="proj01" style="display: none;">
			<td width="15%" class="ObjectDetailsTopic" style="padding-left: 18px;">バージョン:</td>
			<td width="85%" class="ObjectDetailsValue">1.0</td>
		</tr>
		<tr>
			<td width="15%" class="ObjectDetailsTopic"><img src="../images/plus03.gif" align="absmiddle" id="adv" onclick="parent.toggleData(this.id)" />追加情報:</td>
			<td width="85%" class="ObjectDetailsValue"></td>			
		</tr>
		<tr id="adv00" style="display: none;">
			<td width="15%" class="ObjectDetailsTopic" style="padding-left: 18px;">ID:</td>
			<td width="85%" class="ObjectDetailsValue">{E1B6BE8E-5C7E-4593-8B1A-FB02269135E1}</td>
		</tr>
	</table>
	
</div>
 
</body>
</html>