<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>task_list</title>
<link href="../css/ea.css" rel="stylesheet" type="text/css" />
<script>
function initPage(src) {
	if(parent==this&&(this.location+"").indexOf('EARoot')!=-1)
		document.location=(this.location+"").substring(0,(this.location+"").indexOf('EARoot'))+"index"+(this.location+"").substring((this.location+"").lastIndexOf('.'))+"?goto="+((this.location+"").substring((this.location+"").indexOf('EARoot')+7,(this.location+"").lastIndexOf('.')).replace(/\//g,':').replace(/EA/g,""));
	else
		parent.initPage(src);
}
</script>
</head>
<body onload="initPage(this);" class="Content">
<div class="PageBody">
	
<img src="EA2.png" usemap="#EA2" border="0" />

<MAP NAME="EA2">
<area shape="rect" coords="10,10,160,70" href="EA11.html">
<area shape="rect" coords="1012,488,1203,617" href="EA21.html">
<area shape="rect" coords="460,643,684,698" href="EA20.html">
<area shape="rect" coords="797,39,1109,248" href="EA19.html">
<area shape="rect" coords="168,123,441,232" href="EA18.html">
<area shape="rect" coords="102,543,332,642" href="EA17.html">
<area shape="rect" coords="205,396,379,485" href="EA16.html">
<area shape="rect" coords="514,88,738,233" href="EA15.html">
<area shape="rect" coords="280,764,621,1117" href="EA14.html">
<area shape="rect" coords="746,993,1062,1110" href="EA9.html">
<area shape="rect" coords="1070,944,1216,999" href="EA13.html">
<area shape="rect" coords="1240,326,1577,1105" href="EA22.html">
<area shape="rect" coords="802,639,1142,794" href="EA12.html">
<area shape="rect" coords="910,925,1002,984" href="EA33.html">
<area shape="rect" coords="1018,875,1110,934" href="EA23.html">
<area shape="rect" coords="1128,809,1220,868" href="EA32.html">
<area shape="rect" coords="632,897,775,962" href="EA8.html">
<area shape="rect" coords="1096,322,1211,364" href="EA10.html">
<area shape="rect" coords="1264,218,1314,275" href="EA6.html">
<area shape="rect" coords="1239,103,1289,160" href="EA3.html">
<area shape="rect" coords="71,230,121,287" href="EA26.html">
<area shape="rect" coords="1079,381,1169,443" href="EA30.html">
<area shape="rect" coords="280,649,370,714" href="EA28.html">
<area shape="rect" coords="388,395,478,457" href="EA29.html">
<area shape="rect" coords="700,391,790,481" href="EA24.html">
<area shape="rect" coords="911,256,1001,306" href="EA31.html">
<area shape="rect" coords="899,526,1000,576" href="EA5.html">
<area shape="rect" coords="697,777,793,827" href="EA7.html">
<area shape="rect" coords="493,582,583,632" href="EA25.html">
<area shape="rect" coords="241,245,331,295" href="EA4.html">
<area shape="rect" coords="535,241,625,291" href="EA27.html">
</MAP>

	<div class="ObjectTitle">task_list : コミュニケーション図</div>
	<table border="0" cellpadding="0" cellspacing="0" class="ObjectDetails">
		<tr>
			<td width="15%" class="ObjectDetailsTopic">作成日:</td>
			<td width="85%" class="ObjectDetailsValue">2007/06/26 22:02:29</td>
		</tr>
		<tr>
			<td width="15%" class="ObjectDetailsTopic">更新日:</td>
			<td width="85%" class="ObjectDetailsValue">2007/06/27 21:16:51</td>
		</tr>
		<tr style="padding-top: 10px;">
			<td width="15%" class="ObjectDetailsTopic"><img src="../images/plus03.gif" align="absmiddle" id="proj" onclick="parent.toggleData(this.id)" />プロジェクト:</td>
			<td width="85%" class="ObjectDetailsValue"></td>			
		</tr>
		<tr id="proj00" style="display: none;">
			<td width="15%" class="ObjectDetailsTopic" style="padding-left: 18px;">作者:</td>
			<td width="85%" class="ObjectDetailsValue"></td>
		</tr>
		<tr id="proj01" style="display: none;">
			<td width="15%" class="ObjectDetailsTopic" style="padding-left: 18px;">バージョン:</td>
			<td width="85%" class="ObjectDetailsValue">1.0</td>
		</tr>
		<tr>
			<td width="15%" class="ObjectDetailsTopic"><img src="../images/plus03.gif" align="absmiddle" id="adv" onclick="parent.toggleData(this.id)" />追加情報:</td>
			<td width="85%" class="ObjectDetailsValue"></td>			
		</tr>
		<tr id="adv00" style="display: none;">
			<td width="15%" class="ObjectDetailsTopic" style="padding-left: 18px;">ID:</td>
			<td width="85%" class="ObjectDetailsValue">{E1B6BE8E-5C7E-4593-8B1A-FB02269135E1}</td>
		</tr>
	</table>
	
</div>
 
</body>
</html>