<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>replace-schema.sql</title>
<link href="../css/ea.css" rel="stylesheet" type="text/css" />
<script>
function initPage(src) {
	if(parent==this&&(this.location+"").indexOf('EARoot')!=-1)
		document.location=(this.location+"").substring(0,(this.location+"").indexOf('EARoot'))+"index"+(this.location+"").substring((this.location+"").lastIndexOf('.'))+"?goto="+((this.location+"").substring((this.location+"").indexOf('EARoot')+7,(this.location+"").lastIndexOf('.')).replace(/\//g,':').replace(/EA/g,""));
	else
		parent.initPage(src);
}
</script>
</head>
<body onload="initPage(this);" class="Content">
<div class="pageHeader"></div>
<div class="PageBody">
	<span class="ObjectTitle">replace-schema.sql  : public   デバイス</span>
	<table border="0" cellpadding="0" cellspacing="0" class="ObjectDetails">
		<tr>
			<td width="15%" class="ObjectDetailsTopic">作成日:</td>
			<td width="85%" class="ObjectDetailsValue">2007/06/26 22:17:15</td>
		</tr>
		<tr>
			<td class="ObjectDetailsTopic">更新日:</td>
			<td class="ObjectDetailsValue">2007/06/26 22:17:20</td>
		</tr>
		<tr style="height: 10px"><td colspan="2"></td></tr>
		<tr>
			<td class="ObjectDetailsTopic"><img src="../images/plus03.gif" align="absmiddle" id="proj" onclick="parent.toggleData(this.id)" />プロジェクト:</td>
			<td class="ObjectDetailsValue"></td>
		</tr>
		<tr id="proj00" style="display: none;">
			<td class="ObjectDetailsTopic" style="padding-left: 18px;">作者:</td>
			<td class="ObjectDetailsValue"></td>
		</tr>
		<tr id="proj01" style="display: none;">
			<td class="ObjectDetailsTopic" style="padding-left: 18px;">バージョン:</td>
			<td class="ObjectDetailsValue">1.0</td>
		</tr>
		<tr id="proj02" style="display: none;">
			<td class="ObjectDetailsTopic" style="padding-left: 18px;">フェーズ:</td>
			<td class="ObjectDetailsValue">1.0</td>
		</tr>
		<tr id="proj03" style="display: none;">
			<td class="ObjectDetailsTopic" style="padding-left: 18px;">状態:</td>
			<td class="ObjectDetailsValue">設計中</td>
		</tr>
		<tr id="proj04" style="display: none;">
			<td class="ObjectDetailsTopic" style="padding-left: 18px;">複雑度:</td>
			<td class="ObjectDetailsValue">簡単</td>
		</tr>
		<tr>
			<td class="ObjectDetailsTopic"><img src="../images/plus03.gif" align="absmiddle" id="adv" onclick="parent.toggleData(this.id)" />追加情報:</td>
			<td class="ObjectDetailsValue"></td>
		</tr>
		<tr id="adv00" style="display: none;">
			<td class="ObjectDetailsTopic" style="padding-left: 18px;">GUID:</td>
			<td class="ObjectDetailsValue">{B56B590D-368B-45bb-91BF-8657BBD6FD26}</td>
		</tr>
		<tr id="adv01" style="display: none;">
			<td class="ObjectDetailsTopic" style="padding-left: 18px;">ダイアグラム:</td>
			<td class="ObjectDetailsValue"><a href="EA1.html">task_list</a></td>
		</tr>
	</table>
	
	<div class="TableGroup" id="TableGroup">
		<ul class="ItemTitle">
			<li onClick="parent.toggleItem('CustomProperties');" id="CustomPropertiesTitle">追加プロパティ</li>
			<li onClick="parent.toggleItem('Links');" id="LinksTitle">その他の接続 </li>
		</ul>
		<div class="ItemBody" id="CustomPropertiesTable">
			<table border="0" cellspacing="0" cellpadding="0" class="Table">
				<tr>
					<td width="30%" class="TableHeading">プロパティ</td>
					<td width="70%" class="TableHeading">値</td>
				</tr>
			<tr>
				<td width="30%" class="TableRow">isExecutionEnvironment:</td>
				<td width="70%" class="TableRow">False</td>
			</tr>


			</table>
		</div>		<div class="ItemBody" id="LinksTable">
			<table align="center" border="0" cellspacing="0" cellpadding="0" class="Table">
				<tr>
					<td width="30%" class="TableHeading">要素</td>
					<td width="15%" class="TableHeading">種類</td>
					<td width="15%" class="TableHeading">接続</td>
					<td width="40%" class="TableHeading">ノート</td>
				</tr>
				<tr>
					<td width="30%" class="TableRow" valign="top"><a href="EA7.html">replace-schema</a></td>
					<td width="15%" class="TableRow" valign="top">Object</td>
					<td width="15%" class="TableRow" valign="top">依存 </td>
					<td width="40%" class="TableRow" valign="top">&nbsp;</td>
				</tr>

			</table>
		</div>
	</div>
<div class="pageFooter"></div>
 
</body>
</html>