<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>query_thinking-cmu</title>
<link href="../css/ea.css" rel="stylesheet" type="text/css" />
<script>
function initPage(src) {
	if(parent==this&&(this.location+"").indexOf('EARoot')!=-1)
		document.location=(this.location+"").substring(0,(this.location+"").indexOf('EARoot'))+"index"+(this.location+"").substring((this.location+"").lastIndexOf('.'))+"?goto="+((this.location+"").substring((this.location+"").indexOf('EARoot')+7,(this.location+"").lastIndexOf('.')).replace(/\//g,':').replace(/EA/g,""));
	else
		parent.initPage(src);
}
</script>
</head>
<body onload="initPage(this);" class="Content">
<div class="PageBody">
	
<img src="EA2.png" usemap="#EA2" border="0" />

<MAP NAME="EA2">
<area shape="rect" coords="1081,241,1237,291" href="EA23.html">
<area shape="rect" coords="1034,522,1328,572" href="EA15.html">
<area shape="rect" coords="1058,429,1308,479" href="EA16.html">
<area shape="rect" coords="766,430,936,472" href="EA6.html">
<area shape="rect" coords="760,522,930,564" href="EA4.html">
<area shape="rect" coords="583,799,719,836" href="EA17.html">
<area shape="rect" coords="269,899,519,949" href="EA22.html">
<area shape="rect" coords="343,800,479,837" href="EA26.html">
<area shape="rect" coords="397,695,633,732" href="EA10.html">
<area shape="rect" coords="237,604,412,641" href="EA3.html">
<area shape="rect" coords="50,602,186,639" href="EA14.html">
<area shape="rect" coords="118,521,307,558" href="EA18.html">
<area shape="rect" coords="143,381,270,418" href="EA8.html">
<area shape="rect" coords="323,384,450,421" href="EA25.html">
<area shape="rect" coords="776,203,946,245" href="EA5.html">
<area shape="rect" coords="776,129,946,171" href="EA7.html">
<area shape="rect" coords="778,41,948,83" href="EA24.html">
<area shape="rect" coords="563,311,723,348" href="EA13.html">
<area shape="rect" coords="223,306,372,343" href="EA12.html">
<area shape="rect" coords="10,770,161,820" href="EA21.html">
<area shape="rect" coords="253,162,381,199" href="EA11.html">
<area shape="rect" coords="446,161,551,203" href="EA9.html">
<area shape="rect" coords="352,90,465,127" href="EA20.html">
<area shape="rect" coords="117,10,162,100" href="EA19.html">
</MAP>

	<div class="ObjectTitle">query_thinking-cmu : コミュニケーション図</div>
	<table border="0" cellpadding="0" cellspacing="0" class="ObjectDetails">
		<tr>
			<td width="15%" class="ObjectDetailsTopic">作成日:</td>
			<td width="85%" class="ObjectDetailsValue">2007/06/25 15:08:59</td>
		</tr>
		<tr>
			<td width="15%" class="ObjectDetailsTopic">更新日:</td>
			<td width="85%" class="ObjectDetailsValue">2007/06/25 18:02:30</td>
		</tr>
		<tr style="padding-top: 10px;">
			<td width="15%" class="ObjectDetailsTopic"><img src="../images/plus03.gif" align="absmiddle" id="proj" onclick="parent.toggleData(this.id)" />プロジェクト:</td>
			<td width="85%" class="ObjectDetailsValue"></td>			
		</tr>
		<tr id="proj00" style="display: none;">
			<td width="15%" class="ObjectDetailsTopic" style="padding-left: 18px;">作者:</td>
			<td width="85%" class="ObjectDetailsValue"></td>
		</tr>
		<tr id="proj01" style="display: none;">
			<td width="15%" class="ObjectDetailsTopic" style="padding-left: 18px;">バージョン:</td>
			<td width="85%" class="ObjectDetailsValue">1.0</td>
		</tr>
		<tr>
			<td width="15%" class="ObjectDetailsTopic"><img src="../images/plus03.gif" align="absmiddle" id="adv" onclick="parent.toggleData(this.id)" />追加情報:</td>
			<td width="85%" class="ObjectDetailsValue"></td>			
		</tr>
		<tr id="adv00" style="display: none;">
			<td width="15%" class="ObjectDetailsTopic" style="padding-left: 18px;">ID:</td>
			<td width="85%" class="ObjectDetailsValue">{15E95C53-4A3C-4e87-881A-54C774343BF9}</td>
		</tr>
	</table>
	
</div>
 
</body>
</html>