<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>PURCHASE</title>
<link href="../css/ea.css" rel="stylesheet" type="text/css" />
<script>
function initPage(src) {
	if(parent==this&&(this.location+"").indexOf('EARoot')!=-1)
		document.location=(this.location+"").substring(0,(this.location+"").indexOf('EARoot'))+"index"+(this.location+"").substring((this.location+"").lastIndexOf('.'))+"?goto="+((this.location+"").substring((this.location+"").indexOf('EARoot')+7,(this.location+"").lastIndexOf('.')).replace(/\//g,':').replace(/EA/g,""));
	else
		parent.initPage(src);
}
</script>
</head>
<body onload="initPage(this);" class="Content">
<div class="pageHeader"></div>
<div class="PageBody">
	<span class="ObjectTitle">PURCHASE  (購入) : public   &lt;&lt;table&gt;&gt; クラス</span>
	<table border="0" cellpadding="0" cellspacing="0" class="ObjectDetails">
		<tr>
			<td width="15%" class="ObjectDetailsTopic">作成日:</td>
			<td width="85%" class="ObjectDetailsValue">2007/10/21 16:26:06</td>
		</tr>
		<tr>
			<td class="ObjectDetailsTopic">更新日:</td>
			<td class="ObjectDetailsValue">2007/10/22 0:02:59</td>
		</tr>
		<tr style="height: 10px"><td colspan="2"></td></tr>
		<tr>
			<td class="ObjectDetailsTopic"><img src="../images/plus03.gif" align="absmiddle" id="proj" onclick="parent.toggleData(this.id)" />プロジェクト:</td>
			<td class="ObjectDetailsValue"></td>
		</tr>
		<tr id="proj00" style="display: none;">
			<td class="ObjectDetailsTopic" style="padding-left: 18px;">作者:</td>
			<td class="ObjectDetailsValue"></td>
		</tr>
		<tr id="proj01" style="display: none;">
			<td class="ObjectDetailsTopic" style="padding-left: 18px;">バージョン:</td>
			<td class="ObjectDetailsValue">1.0</td>
		</tr>
		<tr id="proj02" style="display: none;">
			<td class="ObjectDetailsTopic" style="padding-left: 18px;">フェーズ:</td>
			<td class="ObjectDetailsValue">1.0</td>
		</tr>
		<tr id="proj03" style="display: none;">
			<td class="ObjectDetailsTopic" style="padding-left: 18px;">状態:</td>
			<td class="ObjectDetailsValue">設計中</td>
		</tr>
		<tr id="proj04" style="display: none;">
			<td class="ObjectDetailsTopic" style="padding-left: 18px;">複雑度:</td>
			<td class="ObjectDetailsValue">簡単</td>
		</tr>
		<tr>
			<td class="ObjectDetailsTopic"><img src="../images/plus03.gif" align="absmiddle" id="adv" onclick="parent.toggleData(this.id)" />追加情報:</td>
			<td class="ObjectDetailsValue"></td>
		</tr>
		<tr id="adv00" style="display: none;">
			<td class="ObjectDetailsTopic" style="padding-left: 18px;">GUID:</td>
			<td class="ObjectDetailsValue">{8C9846E9-5A75-4f89-87CF-796838F6CD26}</td>
		</tr>
		<tr id="adv01" style="display: none;">
			<td class="ObjectDetailsTopic" style="padding-left: 18px;">ダイアグラム:</td>
			<td class="ObjectDetailsValue"><a href="EA1.html">exampledb-erd</a></td>
		</tr>
	</table>
	
	<div class="TableGroup" id="TableGroup">
		<ul class="ItemTitle">
			<li onClick="parent.toggleItem('Attributes');" id="AttributesTitle">属性</li>
			<li onClick="parent.toggleItem('Operations');" id="OperationsTitle">操作</li>
			<li onClick="parent.toggleItem('Associationsターゲット');" id="AssociationsターゲットTitle">接続の概要 ターゲット</li>
		</ul>
<div class="ItemBody" id="AttributesTable">
	<table border="0" cellspacing="0" cellpadding="0" class="Table">
		<tr>
			<td width="40%" class="TableHeading">属性</td>
			<td width="60%" class="TableHeading">詳細</td>
		</tr>
						<tr>
				<td width="40%" class="TableRow" valign="top"><i>public BIGINT</i><br /><strong>&nbsp;&nbsp;PURCHASE_ID</strong></td>
				<td width="60%" class="TableRow" valign="top"><i>別名:</i> 会員購入商品ID<br><i>&lt;&lt;column&gt;&gt;Ordered <br /></i>&nbsp;</td>
			</tr>			<tr>
				<td width="40%" class="TableRow" valign="top"><i>public static INTEGER</i><br /><strong>&nbsp;&nbsp;MEMBER_ID</strong></td>
				<td width="60%" class="TableRow" valign="top"><i>別名:</i> 会員ID<br><i>&lt;&lt;column&gt;&gt;<br></i>&nbsp;</td>
			</tr>			<tr>
				<td width="40%" class="TableRow" valign="top"><i>public static INTEGER</i><br /><strong>&nbsp;&nbsp;PRODUCT_ID</strong></td>
				<td width="60%" class="TableRow" valign="top"><i>別名:</i> 商品ID<br><i>&lt;&lt;column&gt;&gt;<br></i>&nbsp;</td>
			</tr>			<tr>
				<td width="40%" class="TableRow" valign="top"><i>public DATETIME</i><br /><strong>&nbsp;&nbsp;PURCHASE_DATETIME</strong></td>
				<td width="60%" class="TableRow" valign="top"><i>別名:</i> 購入日時<br><i>&lt;&lt;column&gt;&gt;<br></i>&nbsp;</td>
			</tr>			<tr>
				<td width="40%" class="TableRow" valign="top"><i>public INTEGER</i><br /><strong>&nbsp;&nbsp;PURCHASE_COUNT</strong></td>
				<td width="60%" class="TableRow" valign="top"><i>別名:</i> 購入数<br><i>&lt;&lt;column&gt;&gt;<br></i>&nbsp;</td>
			</tr>			<tr>
				<td width="40%" class="TableRow" valign="top"><i>public INTEGER</i><br /><strong>&nbsp;&nbsp;PURCHASE_PRICE</strong></td>
				<td width="60%" class="TableRow" valign="top"><i>別名:</i> 購入金額<br><i>&lt;&lt;column&gt;&gt;<br></i>&nbsp;</td>
			</tr>			<tr>
				<td width="40%" class="TableRow" valign="top"><i>public INTEGER</i><br /><strong>&nbsp;&nbsp;PAYMENT_COMPLETE_FLG</strong></td>
				<td width="60%" class="TableRow" valign="top"><i>別名:</i> 支払完了フラグ<br><i>&lt;&lt;column&gt;&gt;<br></i>&nbsp;</td>
			</tr>			<tr>
				<td width="40%" class="TableRow" valign="top"><i>public DATETIME</i><br /><strong>&nbsp;&nbsp;REGISTER_DATETIME</strong></td>
				<td width="60%" class="TableRow" valign="top"><i>&lt;&lt;column&gt;&gt;<br></i>&nbsp;</td>
			</tr>			<tr>
				<td width="40%" class="TableRow" valign="top"><i>public VARCHAR(200)</i><br /><strong>&nbsp;&nbsp;REGISTER_USER</strong></td>
				<td width="60%" class="TableRow" valign="top"><i>&lt;&lt;column&gt;&gt;<br></i>&nbsp;</td>
			</tr>			<tr>
				<td width="40%" class="TableRow" valign="top"><i>public VARCHAR(200)</i><br /><strong>&nbsp;&nbsp;REGISTER_PROCESS</strong></td>
				<td width="60%" class="TableRow" valign="top"><i>&lt;&lt;column&gt;&gt;<br></i>&nbsp;</td>
			</tr>			<tr>
				<td width="40%" class="TableRow" valign="top"><i>public DATETIME</i><br /><strong>&nbsp;&nbsp;UPDATE_DATETIME</strong></td>
				<td width="60%" class="TableRow" valign="top"><i>&lt;&lt;column&gt;&gt;<br></i>&nbsp;</td>
			</tr>			<tr>
				<td width="40%" class="TableRow" valign="top"><i>public VARCHAR(200)</i><br /><strong>&nbsp;&nbsp;UPDATE_USER</strong></td>
				<td width="60%" class="TableRow" valign="top"><i>&lt;&lt;column&gt;&gt;<br></i>&nbsp;</td>
			</tr>			<tr>
				<td width="40%" class="TableRow" valign="top"><i>public VARCHAR(200)</i><br /><strong>&nbsp;&nbsp;UPDATE_PROCESS</strong></td>
				<td width="60%" class="TableRow" valign="top"><i>&lt;&lt;column&gt;&gt;<br></i>&nbsp;</td>
			</tr>			<tr>
				<td width="40%" class="TableRow" valign="top"><i>public BIGINT</i><br /><strong>&nbsp;&nbsp;VERSION_NO</strong></td>
				<td width="60%" class="TableRow" valign="top"><i>&lt;&lt;column&gt;&gt;<br></i>&nbsp;</td>
			</tr>
		</table>
</div><div class="ItemBody" id="OperationsTable">
	<table border="0" cellspacing="0" cellpadding="0" class="Table">
		<tr>
			<td width="40%" class="TableHeading">操作</td>
			<td width="60%" class="TableHeading">詳細</td>
		</tr>
						<tr>
				<td width="40%" class="TableRow">
					<i>public</i><br />
					<strong>PK_PURCHASE</strong>(<br />
					<a href="#" onclick="parent.toggleData('param{0A9E86F2-F7F6-43f5-8F44-E17F28AB8086}')" style="text-decoration: none; color: #000000;"><img src="../images/plus03.gif" align="absmiddle" id="param{0A9E86F2-F7F6-43f5-8F44-E17F28AB8086}" border="0" />PURCHASE_ID: BIGINT</a>, 
					<table border="0" cellspacing="0" cellpadding="0" class="Table" style="padding: 4px 18px;">
						<tr id="param{0A9E86F2-F7F6-43f5-8F44-E17F28AB8086}00" style="display: none;">
							<td width="50"><strong>既定値:</strong></td>
							<td></td>
						</tr>
						<tr id="param{0A9E86F2-F7F6-43f5-8F44-E17F28AB8086}01" style="display: none;">
							<td width="50"><strong>種類:</strong></td>
							<td>in</td>
						</tr>
						<tr id="param{0A9E86F2-F7F6-43f5-8F44-E17F28AB8086}02" style="display: none;">
							<td width="50"><strong>ステレオタイプ: </strong></td>
							<td></td>
						</tr>
						<tr id="param{0A9E86F2-F7F6-43f5-8F44-E17F28AB8086}03" style="display: none;">
							<td width="50"></td>
							<td></td>
						</tr>
					</table>
):
				</td>
				<td width="60%" class="TableRow">
					<i> &lt;&lt;PK&gt;&gt; </i>
					<table>
						<tr>
							<td valign = "top"><i></i><span style="margin-left: .7cm;"> </span></td>
							<td></td>
						</tr>
					</table>
					
				</td>
			</tr>
			<tr>
				<td width="40%" class="TableRow">
					<i>public</i><br />
					<strong>UQ_PURCHASE</strong>(<br />
					<a href="#" onclick="parent.toggleData('param{86FE4EB3-4E5E-48a4-AB1C-8F30C6F2B27C}')" style="text-decoration: none; color: #000000;"><img src="../images/plus03.gif" align="absmiddle" id="param{86FE4EB3-4E5E-48a4-AB1C-8F30C6F2B27C}" border="0" />MEMBER_ID: INTEGER</a>, 
					<table border="0" cellspacing="0" cellpadding="0" class="Table" style="padding: 4px 18px;">
						<tr id="param{86FE4EB3-4E5E-48a4-AB1C-8F30C6F2B27C}00" style="display: none;">
							<td width="50"><strong>既定値:</strong></td>
							<td></td>
						</tr>
						<tr id="param{86FE4EB3-4E5E-48a4-AB1C-8F30C6F2B27C}01" style="display: none;">
							<td width="50"><strong>種類:</strong></td>
							<td>in</td>
						</tr>
						<tr id="param{86FE4EB3-4E5E-48a4-AB1C-8F30C6F2B27C}02" style="display: none;">
							<td width="50"><strong>ステレオタイプ: </strong></td>
							<td></td>
						</tr>
						<tr id="param{86FE4EB3-4E5E-48a4-AB1C-8F30C6F2B27C}03" style="display: none;">
							<td width="50"></td>
							<td></td>
						</tr>
					</table>
					<a href="#" onclick="parent.toggleData('param{16DD38FD-B55B-4c5e-9A51-12007F61E99D}')" style="text-decoration: none; color: #000000;"><img src="../images/plus03.gif" align="absmiddle" id="param{16DD38FD-B55B-4c5e-9A51-12007F61E99D}" border="0" />PRODUCT_ID: INTEGER</a>, 
					<table border="0" cellspacing="0" cellpadding="0" class="Table" style="padding: 4px 18px;">
						<tr id="param{16DD38FD-B55B-4c5e-9A51-12007F61E99D}00" style="display: none;">
							<td width="50"><strong>既定値:</strong></td>
							<td></td>
						</tr>
						<tr id="param{16DD38FD-B55B-4c5e-9A51-12007F61E99D}01" style="display: none;">
							<td width="50"><strong>種類:</strong></td>
							<td>in</td>
						</tr>
						<tr id="param{16DD38FD-B55B-4c5e-9A51-12007F61E99D}02" style="display: none;">
							<td width="50"><strong>ステレオタイプ: </strong></td>
							<td></td>
						</tr>
						<tr id="param{16DD38FD-B55B-4c5e-9A51-12007F61E99D}03" style="display: none;">
							<td width="50"></td>
							<td></td>
						</tr>
					</table>
					<a href="#" onclick="parent.toggleData('param{8D8FFC99-F3D3-40c9-B01E-356842510865}')" style="text-decoration: none; color: #000000;"><img src="../images/plus03.gif" align="absmiddle" id="param{8D8FFC99-F3D3-40c9-B01E-356842510865}" border="0" />PURCHASE_DATETIME: DATETIME</a>, 
					<table border="0" cellspacing="0" cellpadding="0" class="Table" style="padding: 4px 18px;">
						<tr id="param{8D8FFC99-F3D3-40c9-B01E-356842510865}00" style="display: none;">
							<td width="50"><strong>既定値:</strong></td>
							<td></td>
						</tr>
						<tr id="param{8D8FFC99-F3D3-40c9-B01E-356842510865}01" style="display: none;">
							<td width="50"><strong>種類:</strong></td>
							<td>in</td>
						</tr>
						<tr id="param{8D8FFC99-F3D3-40c9-B01E-356842510865}02" style="display: none;">
							<td width="50"><strong>ステレオタイプ: </strong></td>
							<td></td>
						</tr>
						<tr id="param{8D8FFC99-F3D3-40c9-B01E-356842510865}03" style="display: none;">
							<td width="50"></td>
							<td></td>
						</tr>
					</table>
):
				</td>
				<td width="60%" class="TableRow">
					<i> &lt;&lt;unique&gt;&gt; </i>
					<table>
						<tr>
							<td valign = "top"><i></i><span style="margin-left: .7cm;"> </span></td>
							<td></td>
						</tr>
					</table>
					
				</td>
			</tr>
			<tr>
				<td width="40%" class="TableRow">
					<i>public</i><br />
					<strong>FK_PURCHASE_MEMBER</strong>(<br />
					<a href="#" onclick="parent.toggleData('param{935F90DB-2517-4b01-A1F0-42F9B0F0AD5A}')" style="text-decoration: none; color: #000000;"><img src="../images/plus03.gif" align="absmiddle" id="param{935F90DB-2517-4b01-A1F0-42F9B0F0AD5A}" border="0" />MEMBER_ID: INTEGER</a>, 
					<table border="0" cellspacing="0" cellpadding="0" class="Table" style="padding: 4px 18px;">
						<tr id="param{935F90DB-2517-4b01-A1F0-42F9B0F0AD5A}00" style="display: none;">
							<td width="50"><strong>既定値:</strong></td>
							<td></td>
						</tr>
						<tr id="param{935F90DB-2517-4b01-A1F0-42F9B0F0AD5A}01" style="display: none;">
							<td width="50"><strong>種類:</strong></td>
							<td>in</td>
						</tr>
						<tr id="param{935F90DB-2517-4b01-A1F0-42F9B0F0AD5A}02" style="display: none;">
							<td width="50"><strong>ステレオタイプ: </strong></td>
							<td></td>
						</tr>
						<tr id="param{935F90DB-2517-4b01-A1F0-42F9B0F0AD5A}03" style="display: none;">
							<td width="50"></td>
							<td></td>
						</tr>
					</table>
):
				</td>
				<td width="60%" class="TableRow">
					<i> &lt;&lt;FK&gt;&gt; </i>
					<table>
						<tr>
							<td valign = "top"><i>タグ:</i><span style="margin-left: .7cm;"> </span></td>
							<td>property=Delete Cascade=0;Update Cascade=0;</td>
						</tr>
					</table>
					
				</td>
			</tr>
			<tr>
				<td width="40%" class="TableRow">
					<i>public</i><br />
					<strong>FK_PURCHASE_PRODUCT</strong>(<br />
					<a href="#" onclick="parent.toggleData('param{76A83A5A-88E8-458d-8161-5C1D22EFDB70}')" style="text-decoration: none; color: #000000;"><img src="../images/plus03.gif" align="absmiddle" id="param{76A83A5A-88E8-458d-8161-5C1D22EFDB70}" border="0" />PRODUCT_ID: INTEGER</a>, 
					<table border="0" cellspacing="0" cellpadding="0" class="Table" style="padding: 4px 18px;">
						<tr id="param{76A83A5A-88E8-458d-8161-5C1D22EFDB70}00" style="display: none;">
							<td width="50"><strong>既定値:</strong></td>
							<td></td>
						</tr>
						<tr id="param{76A83A5A-88E8-458d-8161-5C1D22EFDB70}01" style="display: none;">
							<td width="50"><strong>種類:</strong></td>
							<td>in</td>
						</tr>
						<tr id="param{76A83A5A-88E8-458d-8161-5C1D22EFDB70}02" style="display: none;">
							<td width="50"><strong>ステレオタイプ: </strong></td>
							<td></td>
						</tr>
						<tr id="param{76A83A5A-88E8-458d-8161-5C1D22EFDB70}03" style="display: none;">
							<td width="50"></td>
							<td></td>
						</tr>
					</table>
):
				</td>
				<td width="60%" class="TableRow">
					<i> &lt;&lt;FK&gt;&gt; </i>
					<table>
						<tr>
							<td valign = "top"><i>タグ:</i><span style="margin-left: .7cm;"> </span></td>
							<td>property=Delete Cascade=0;Update Cascade=0;</td>
						</tr>
					</table>
					
				</td>
			</tr>

		</table>
</div>		<div class="ItemBody" id="AssociationsターゲットTable">
			<table border="0" cellspacing="0" cellpadding="0" class="Table">
				<tr>
					<td width="20%" class="TableHeading">要素</td>
					<td width="25%" class="TableHeading">ソースの役割</td>
					<td width="25%" class="TableHeading">ターゲットの役割</td>
					<td width="30%" class="TableHeading">詳細</td>
				</tr>
				<tr>
					<td width="20%" class="TableRow" valign="top">
						<a href="EA5.html">«table» MEMBER</a><br />
						クラス «FK» 
					</td>
					<td width="20%" class="TableRow" valign="top">
						<strong>Name:</strong> FK_PURCHASE_MEMBER<br />
						&nbsp;
					</td>
					<td width="20%" class="TableRow" valign="top">
						<strong>Name:</strong> PK_MEMBER<br />
						&nbsp;	
					</td>
					<td width="30%" class="TableRow" valign="top">&nbsp;</td>
				</tr>
				<tr>
					<td width="20%" class="TableRow" valign="top">
						<a href="EA10.html">«table» PRODUCT</a><br />
						クラス «FK» 
					</td>
					<td width="20%" class="TableRow" valign="top">
						<strong>Name:</strong> FK_PURCHASE_PRODUCT<br />
						&nbsp;
					</td>
					<td width="20%" class="TableRow" valign="top">
						<strong>Name:</strong> PK_PRODUCT<br />
						&nbsp;	
					</td>
					<td width="30%" class="TableRow" valign="top">&nbsp;</td>
				</tr>

			</table>
		</div>
	</div>
<div class="pageFooter"></div>
 
</body>
</html>