<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>role_of_dbflute-cmu</title>
<link href="../css/ea.css" rel="stylesheet" type="text/css" />
<script>
function initPage(src) {
	if(parent==this&&(this.location+"").indexOf('EARoot')!=-1)
		document.location=(this.location+"").substring(0,(this.location+"").indexOf('EARoot'))+"index"+(this.location+"").substring((this.location+"").lastIndexOf('.'))+"?goto="+((this.location+"").substring((this.location+"").indexOf('EARoot')+7,(this.location+"").lastIndexOf('.')).replace(/\//g,':').replace(/EA/g,""));
	else
		parent.initPage(src);
}
</script>
</head>
<body onload="initPage(this);" class="Content">
<div class="PageBody">
	
<img src="EA2.png" usemap="#EA2" border="0" />

<MAP NAME="EA2">
<area shape="rect" coords="374,651,632,726" href="EA5.html">
<area shape="rect" coords="500,95,667,137" href="EA16.html">
<area shape="rect" coords="10,10,160,70" href="EA15.html">
<area shape="rect" coords="44,287,296,360" href="EA14.html">
<area shape="rect" coords="36,142,337,231" href="EA13.html">
<area shape="rect" coords="411,310,581,365" href="EA12.html">
<area shape="rect" coords="1246,308,1451,477" href="EA11.html">
<area shape="rect" coords="288,769,333,859" href="EA17.html">
<area shape="rect" coords="328,576,418,626" href="EA18.html">
<area shape="rect" coords="223,73,468,115" href="EA3.html">
<area shape="rect" coords="401,15,1212,53" href="EA35.html">
<area shape="rect" coords="922,602,1186,691" href="EA9.html">
<area shape="rect" coords="711,809,964,948" href="EA8.html">
<area shape="rect" coords="676,201,854,270" href="EA7.html">
<area shape="rect" coords="922,212,1092,261" href="EA6.html">
<area shape="rect" coords="1385,490,1475,529" href="EA19.html">
<area shape="rect" coords="688,461,954,526" href="EA10.html">
<area shape="rect" coords="986,463,1217,528" href="EA4.html">
<area shape="rect" coords="1488,760,1601,806" href="EA21.html">
<area shape="rect" coords="1103,932,1549,968" href="EA27.html">
<area shape="rect" coords="1078,78,1506,116" href="EA36.html">
<area shape="rect" coords="922,130,1169,171" href="EA20.html">
<area shape="rect" coords="471,245,561,294" href="EA33.html">
<area shape="rect" coords="470,146,560,196" href="EA32.html">
<area shape="rect" coords="243,374,329,444" href="EA34.html">
<area shape="rect" coords="131,496,181,553" href="EA22.html">
<area shape="rect" coords="61,578,106,668" href="EA37.html">
<area shape="rect" coords="1473,339,1590,429" href="EA26.html">
<area shape="rect" coords="824,750,914,798" href="EA31.html">
<area shape="rect" coords="822,633,912,683" href="EA25.html">
<area shape="rect" coords="1036,406,1126,454" href="EA30.html">
<area shape="rect" coords="1037,277,1127,327" href="EA24.html">
<area shape="rect" coords="734,406,824,454" href="EA29.html">
<area shape="rect" coords="732,276,822,326" href="EA23.html">
</MAP>

	<div class="ObjectTitle">role_of_dbflute-cmu : コミュニケーション図</div>
	<table border="0" cellpadding="0" cellspacing="0" class="ObjectDetails">
		<tr>
			<td width="15%" class="ObjectDetailsTopic">作成日:</td>
			<td width="85%" class="ObjectDetailsValue">2007/04/02 11:21:43</td>
		</tr>
		<tr>
			<td width="15%" class="ObjectDetailsTopic">更新日:</td>
			<td width="85%" class="ObjectDetailsValue">2007/07/12 1:24:46</td>
		</tr>
		<tr style="padding-top: 10px;">
			<td width="15%" class="ObjectDetailsTopic"><img src="../images/plus03.gif" align="absmiddle" id="proj" onclick="parent.toggleData(this.id)" />プロジェクト:</td>
			<td width="85%" class="ObjectDetailsValue"></td>			
		</tr>
		<tr id="proj00" style="display: none;">
			<td width="15%" class="ObjectDetailsTopic" style="padding-left: 18px;">作者:</td>
			<td width="85%" class="ObjectDetailsValue"></td>
		</tr>
		<tr id="proj01" style="display: none;">
			<td width="15%" class="ObjectDetailsTopic" style="padding-left: 18px;">バージョン:</td>
			<td width="85%" class="ObjectDetailsValue">1.0</td>
		</tr>
		<tr>
			<td width="15%" class="ObjectDetailsTopic"><img src="../images/plus03.gif" align="absmiddle" id="adv" onclick="parent.toggleData(this.id)" />追加情報:</td>
			<td width="85%" class="ObjectDetailsValue"></td>			
		</tr>
		<tr id="adv00" style="display: none;">
			<td width="15%" class="ObjectDetailsTopic" style="padding-left: 18px;">ID:</td>
			<td width="85%" class="ObjectDetailsValue">{E156D6FE-D9FF-4f88-8B78-E9AD8FE60E4E}</td>
		</tr>
	</table>
	
</div>
 
</body>
</html>