<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>exampledb-erd</title>
<link href="../css/ea.css" rel="stylesheet" type="text/css" />
<script>
function initPage(src) {
	if(parent==this&&(this.location+"").indexOf('EARoot')!=-1)
		document.location=(this.location+"").substring(0,(this.location+"").indexOf('EARoot'))+"index"+(this.location+"").substring((this.location+"").lastIndexOf('.'))+"?goto="+((this.location+"").substring((this.location+"").indexOf('EARoot')+7,(this.location+"").lastIndexOf('.')).replace(/\//g,':').replace(/EA/g,""));
	else
		parent.initPage(src);
}
</script>
</head>
<body onload="initPage(this);" class="Content">
<div class="PageBody">
	
<img src="EA2.png" usemap="#EA2" border="0" />

<MAP NAME="EA2">
<area shape="rect" coords="1385,451,1601,548" href="EA5.html">
<area shape="rect" coords="10,12,179,152" href="EA6.html">
<area shape="rect" coords="274,809,461,911" href="EA9.html">
<area shape="rect" coords="913,274,1166,365" href="EA4.html">
<area shape="rect" coords="1311,29,1595,125" href="EA21.html">
<area shape="rect" coords="999,453,1372,671" href="EA14.html">
<area shape="rect" coords="1213,718,1608,886" href="EA22.html">
<area shape="rect" coords="1023,991,1438,1103" href="EA18.html">
<area shape="rect" coords="913,9,1231,259" href="EA11.html">
<area shape="rect" coords="88,357,273,470" href="EA8.html">
<area shape="rect" coords="31,812,252,975" href="EA7.html">
<area shape="rect" coords="198,32,461,172" href="EA3.html">
<area shape="rect" coords="12,184,463,333" href="EA12.html">
<area shape="rect" coords="21,986,430,1096" href="EA19.html">
<area shape="rect" coords="948,861,1331,974" href="EA23.html">
<area shape="rect" coords="451,538,895,737" href="EA16.html">
<area shape="rect" coords="483,10,884,141" href="EA15.html">
<area shape="rect" coords="495,833,910,1087" href="EA17.html">
<area shape="rect" coords="22,502,383,776" href="EA20.html">
<area shape="rect" coords="1238,160,1609,392" href="EA13.html">
<area shape="rect" coords="511,206,892,459" href="EA10.html">
</MAP>

	<div class="ObjectTitle">exampledb-erd : クラス図</div>
	<table border="0" cellpadding="0" cellspacing="0" class="ObjectDetails">
		<tr>
			<td width="15%" class="ObjectDetailsTopic">作成日:</td>
			<td width="85%" class="ObjectDetailsValue">2007/10/21 16:22:16</td>
		</tr>
		<tr>
			<td width="15%" class="ObjectDetailsTopic">更新日:</td>
			<td width="85%" class="ObjectDetailsValue">2011/05/20 15:30:55</td>
		</tr>
		<tr style="padding-top: 10px;">
			<td width="15%" class="ObjectDetailsTopic"><img src="../images/plus03.gif" align="absmiddle" id="proj" onclick="parent.toggleData(this.id)" />プロジェクト:</td>
			<td width="85%" class="ObjectDetailsValue"></td>			
		</tr>
		<tr id="proj00" style="display: none;">
			<td width="15%" class="ObjectDetailsTopic" style="padding-left: 18px;">作者:</td>
			<td width="85%" class="ObjectDetailsValue">jflute</td>
		</tr>
		<tr id="proj01" style="display: none;">
			<td width="15%" class="ObjectDetailsTopic" style="padding-left: 18px;">バージョン:</td>
			<td width="85%" class="ObjectDetailsValue">1.0</td>
		</tr>
		<tr>
			<td width="15%" class="ObjectDetailsTopic"><img src="../images/plus03.gif" align="absmiddle" id="adv" onclick="parent.toggleData(this.id)" />追加情報:</td>
			<td width="85%" class="ObjectDetailsValue"></td>			
		</tr>
		<tr id="adv00" style="display: none;">
			<td width="15%" class="ObjectDetailsTopic" style="padding-left: 18px;">GUID:</td>
			<td width="85%" class="ObjectDetailsValue">{4E7FB8C2-B0D8-4dbe-948D-BD68A59A7396}</td>
		</tr>
	</table>
	
</div>
 
</body>
</html>