<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>exampledb-erd</title>
<link href="../css/ea.css" rel="stylesheet" type="text/css" />
<script>
function initPage(src) {
	if(parent==this&&(this.location+"").indexOf('EARoot')!=-1)
		document.location=(this.location+"").substring(0,(this.location+"").indexOf('EARoot'))+"index"+(this.location+"").substring((this.location+"").lastIndexOf('.'))+"?goto="+((this.location+"").substring((this.location+"").indexOf('EARoot')+7,(this.location+"").lastIndexOf('.')).replace(/\//g,':').replace(/EA/g,""));
	else
		parent.initPage(src);
}
</script>
</head>
<body onload="initPage(this);" class="Content">
<div class="PageBody">
	
<img src="EA2.png" usemap="#EA2" border="0" />

<MAP NAME="EA2">
<area shape="rect" coords="1315,29,1599,125" href="EA18.html">
<area shape="rect" coords="1036,449,1410,703" href="EA11.html">
<area shape="rect" coords="1217,718,1612,886" href="EA19.html">
<area shape="rect" coords="1027,991,1442,1103" href="EA15.html">
<area shape="rect" coords="918,5,1236,292" href="EA8.html">
<area shape="rect" coords="15,159,195,275" href="EA3.html">
<area shape="rect" coords="170,811,391,974" href="EA4.html">
<area shape="rect" coords="198,10,461,150" href="EA5.html">
<area shape="rect" coords="16,292,467,441" href="EA9.html">
<area shape="rect" coords="25,986,434,1096" href="EA16.html">
<area shape="rect" coords="952,861,1335,974" href="EA20.html">
<area shape="rect" coords="456,538,899,792" href="EA13.html">
<area shape="rect" coords="465,10,866,141" href="EA12.html">
<area shape="rect" coords="10,8,215,108" href="EA6.html">
<area shape="rect" coords="499,833,914,1124" href="EA14.html">
<area shape="rect" coords="16,470,377,778" href="EA17.html">
<area shape="rect" coords="1242,162,1613,435" href="EA10.html">
<area shape="rect" coords="515,198,896,489" href="EA7.html">
</MAP>

	<div class="ObjectTitle">exampledb-erd : クラス図</div>
	<table border="0" cellpadding="0" cellspacing="0" class="ObjectDetails">
		<tr>
			<td width="15%" class="ObjectDetailsTopic">作成日:</td>
			<td width="85%" class="ObjectDetailsValue">2007/10/21 16:22:16</td>
		</tr>
		<tr>
			<td width="15%" class="ObjectDetailsTopic">更新日:</td>
			<td width="85%" class="ObjectDetailsValue">2011/05/07 19:17:00</td>
		</tr>
		<tr style="padding-top: 10px;">
			<td width="15%" class="ObjectDetailsTopic"><img src="../images/plus03.gif" align="absmiddle" id="proj" onclick="parent.toggleData(this.id)" />プロジェクト:</td>
			<td width="85%" class="ObjectDetailsValue"></td>			
		</tr>
		<tr id="proj00" style="display: none;">
			<td width="15%" class="ObjectDetailsTopic" style="padding-left: 18px;">作者:</td>
			<td width="85%" class="ObjectDetailsValue">jflute</td>
		</tr>
		<tr id="proj01" style="display: none;">
			<td width="15%" class="ObjectDetailsTopic" style="padding-left: 18px;">バージョン:</td>
			<td width="85%" class="ObjectDetailsValue">1.0</td>
		</tr>
		<tr>
			<td width="15%" class="ObjectDetailsTopic"><img src="../images/plus03.gif" align="absmiddle" id="adv" onclick="parent.toggleData(this.id)" />追加情報:</td>
			<td width="85%" class="ObjectDetailsValue"></td>			
		</tr>
		<tr id="adv00" style="display: none;">
			<td width="15%" class="ObjectDetailsTopic" style="padding-left: 18px;">GUID:</td>
			<td width="85%" class="ObjectDetailsValue">{4E7FB8C2-B0D8-4dbe-948D-BD68A59A7396}</td>
		</tr>
	</table>
	
</div>
 
</body>
</html>