<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>exampledb-erd</title>
<link href="../css/ea.css" rel="stylesheet" type="text/css" />
<script>
function initPage(src) {
	if(parent==this&&(this.location+"").indexOf('EARoot')!=-1)
		document.location=(this.location+"").substring(0,(this.location+"").indexOf('EARoot'))+"index"+(this.location+"").substring((this.location+"").lastIndexOf('.'))+"?goto="+((this.location+"").substring((this.location+"").indexOf('EARoot')+7,(this.location+"").lastIndexOf('.')).replace(/\//g,':').replace(/EA/g,""));
	else
		parent.initPage(src);
}
</script>
</head>
<body onload="initPage(this);" class="Content">
<div class="PageBody">
	
<img src="EA2.png" usemap="#EA2" border="0" />

<MAP NAME="EA2">
<area shape="rect" coords="1204,75,1441,151" href="EA18.html">
<area shape="rect" coords="849,451,1121,608" href="EA11.html">
<area shape="rect" coords="1163,511,1458,625" href="EA19.html">
<area shape="rect" coords="887,763,1202,851" href="EA15.html">
<area shape="rect" coords="853,18,1121,202" href="EA8.html">
<area shape="rect" coords="17,123,159,227" href="EA3.html">
<area shape="rect" coords="112,676,333,767" href="EA4.html">
<area shape="rect" coords="169,13,399,105" href="EA5.html">
<area shape="rect" coords="49,240,377,344" href="EA9.html">
<area shape="rect" coords="42,793,344,878" href="EA16.html">
<area shape="rect" coords="879,637,1181,723" href="EA20.html">
<area shape="rect" coords="484,458,801,623" href="EA13.html">
<area shape="rect" coords="407,24,702,118" href="EA12.html">
<area shape="rect" coords="10,6,160,66" href="EA6.html">
<area shape="rect" coords="397,679,702,863" href="EA14.html">
<area shape="rect" coords="65,408,359,602" href="EA17.html">
<area shape="rect" coords="1003,251,1286,425" href="EA10.html">
<area shape="rect" coords="462,159,757,343" href="EA7.html">
</MAP>

	<div class="ObjectTitle">exampledb-erd : クラス図</div>
	<table border="0" cellpadding="0" cellspacing="0" class="ObjectDetails">
		<tr>
			<td width="15%" class="ObjectDetailsTopic">作成日:</td>
			<td width="85%" class="ObjectDetailsValue">2007/10/21 16:22:16</td>
		</tr>
		<tr>
			<td width="15%" class="ObjectDetailsTopic">更新日:</td>
			<td width="85%" class="ObjectDetailsValue">2011/04/26 6:03:46</td>
		</tr>
		<tr style="padding-top: 10px;">
			<td width="15%" class="ObjectDetailsTopic"><img src="../images/plus03.gif" align="absmiddle" id="proj" onclick="parent.toggleData(this.id)" />プロジェクト:</td>
			<td width="85%" class="ObjectDetailsValue"></td>			
		</tr>
		<tr id="proj00" style="display: none;">
			<td width="15%" class="ObjectDetailsTopic" style="padding-left: 18px;">作者:</td>
			<td width="85%" class="ObjectDetailsValue">jflute</td>
		</tr>
		<tr id="proj01" style="display: none;">
			<td width="15%" class="ObjectDetailsTopic" style="padding-left: 18px;">バージョン:</td>
			<td width="85%" class="ObjectDetailsValue">1.0</td>
		</tr>
		<tr>
			<td width="15%" class="ObjectDetailsTopic"><img src="../images/plus03.gif" align="absmiddle" id="adv" onclick="parent.toggleData(this.id)" />追加情報:</td>
			<td width="85%" class="ObjectDetailsValue"></td>			
		</tr>
		<tr id="adv00" style="display: none;">
			<td width="15%" class="ObjectDetailsTopic" style="padding-left: 18px;">GUID:</td>
			<td width="85%" class="ObjectDetailsValue">{4E7FB8C2-B0D8-4dbe-948D-BD68A59A7396}</td>
		</tr>
	</table>
	
</div>
 
</body>
</html>