<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>MEMBER_SERVICE</title>
<link href="../css/ea.css" rel="stylesheet" type="text/css" />
<script>
function initPage(src) {
	if(parent==this&&(this.location+"").indexOf('EARoot')!=-1)
		document.location=(this.location+"").substring(0,(this.location+"").indexOf('EARoot'))+"index"+(this.location+"").substring((this.location+"").lastIndexOf('.'))+"?goto="+((this.location+"").substring((this.location+"").indexOf('EARoot')+7,(this.location+"").lastIndexOf('.')).replace(/\//g,':').replace(/EA/g,""));
	else
		parent.initPage(src);
}
</script>
</head>
<body onload="initPage(this);" class="Content">
<div class="pageHeader"></div>
<div class="PageBody">
	<span class="ObjectTitle">MEMBER_SERVICE  (会員サービス情報) : public  &lt;&lt;table&gt;&gt; クラス</span>
	<table border="0" cellpadding="0" cellspacing="0" class="ObjectDetails">
		<tr>
			<td width="15%" class="ObjectDetailsTopic">作成日:</td>
			<td width="85%" class="ObjectDetailsValue">2007/10/21 16:26:06</td>
		</tr>
		<tr>
			<td class="ObjectDetailsTopic">更新日:</td>
			<td class="ObjectDetailsValue">2011/05/05 0:04:45</td>
		</tr>
		<tr style="height: 10px"><td colspan="2"></td></tr>
		<tr>
			<td class="ObjectDetailsTopic"><img src="../images/plus03.gif" align="absmiddle" id="proj" onclick="parent.toggleData(this.id)" />プロジェクト:</td>
			<td class="ObjectDetailsValue"></td>
		</tr>
		<tr id="proj00" style="display: none;">
			<td class="ObjectDetailsTopic" style="padding-left: 18px;">作者:</td>
			<td class="ObjectDetailsValue"></td>
		</tr>
		<tr id="proj01" style="display: none;">
			<td class="ObjectDetailsTopic" style="padding-left: 18px;">バージョン:</td>
			<td class="ObjectDetailsValue">1.0</td>
		</tr>
		<tr id="proj02" style="display: none;">
			<td class="ObjectDetailsTopic" style="padding-left: 18px;">フェーズ:</td>
			<td class="ObjectDetailsValue">1.0</td>
		</tr>
		<tr id="proj03" style="display: none;">
			<td class="ObjectDetailsTopic" style="padding-left: 18px;">状態:</td>
			<td class="ObjectDetailsValue">設計中</td>
		</tr>
		<tr id="proj04" style="display: none;">
			<td class="ObjectDetailsTopic" style="padding-left: 18px;">複雑度:</td>
			<td class="ObjectDetailsValue">簡単</td>
		</tr>
		<tr>
			<td class="ObjectDetailsTopic"><img src="../images/plus03.gif" align="absmiddle" id="adv" onclick="parent.toggleData(this.id)" />追加情報:</td>
			<td class="ObjectDetailsValue"></td>
		</tr>
		<tr id="adv00" style="display: none;">
			<td class="ObjectDetailsTopic" style="padding-left: 18px;">GUID:</td>
			<td class="ObjectDetailsValue">{E8D163BE-6AC5-4e8f-B282-7A78F04D7CB7}</td>
		</tr>
		<tr id="adv01" style="display: none;">
			<td class="ObjectDetailsTopic" style="padding-left: 18px;">ダイアグラム:</td>
			<td class="ObjectDetailsValue"><a href="EA1.htm">exampledb-erd</a></td>
		</tr>
	</table>
	<div class="ObjectDetailsNotes">&#20250;&#21729;&#12398;&#12469;&#12540;&#12499;&#12473;&#24773;&#22577;&#65288;&#12509;&#12452;&#12531;&#12488;&#12469;&#12540;&#12499;&#12473;&#12394;&#12393;&#65289;&#12290;&lt;br /&gt;&lt;/p&gt;&lt;p&gt;ExampleDB&#12392;&#12375;&#12390;&#12289;&#12354;&#12360;&#12390;&#32113;&#19968;&#24615;&#12434;&#23849;&#12375;&#12390;&lt;br /&gt;&lt;/p&gt;&lt;p&gt;&#12518;&#12491;&#12540;&#12463;&#21046;&#32004;&#32076;&#30001;&#12398; one-to-one &#12434;&#34920;&#29694;&#12375;&#12390;&#12356;&#12427;&#12290;&lt;br /&gt;&lt;/p&gt;</div>

	<div class="TableGroup" id="TableGroup">
		<ul class="ItemTitle">
			<li onClick="parent.toggleItem('Attributes');" id="AttributesTitle">属性</li>
			<li onClick="parent.toggleItem('Operations');" id="OperationsTitle">操作</li>
			<li onClick="parent.toggleItem('Associationsターゲット');" id="AssociationsターゲットTitle">接続の概要 ターゲット</li>
		</ul>
<div class="ItemBody" id="AttributesTable">
	<table border="0" cellspacing="0" cellpadding="0" class="Table">
		<tr>
			<td width="100%" class="TableHeading">属性</td>
		</tr>
						<tr>
				<td width="100%" class="TableRow" valign="top"><i>public INTEGER</i><br /><strong>&nbsp;&nbsp;MEMBER_SERVICE_ID</strong></td>
			</tr>
			<tr>
				<td class="TableRowBottomDashed"  colspan="1">
					<div class="DetailsDivParent"><img src="../images/minus03.gif" align="absmiddle" id="DetailsImageAttributes79" onclick="parent.toggleDiv('detailsDIVAttributes79','DetailsImageAttributes79')" />詳細:
						<div id="detailsDIVAttributes79" class="DetailsDiv" >
						<i>別名:</i> 会員サービスID<br><i>&lt;&lt;column&gt;&gt;Ordered <br /></i><div class="ObjectDetailsNotes"><table>
	<tr>
		<td valign="top">
			<i>ノート: </i><span style="margin-left: .4cm;"> </span>
		</td>
		<td>
			独立した主キーとなるが、実質的に会員IDとは one-to-one である。
		</td>
	</tr>
</table></div>

						</div>
					</div>
				</td>
			</tr>			<tr>
				<td width="100%" class="TableRow" valign="top"><i>public static INTEGER</i><br /><strong>&nbsp;&nbsp;MEMBER_ID</strong></td>
			</tr>
			<tr>
				<td class="TableRowBottomDashed"  colspan="1">
					<div class="DetailsDivParent"><img src="../images/minus03.gif" align="absmiddle" id="DetailsImageAttributes80" onclick="parent.toggleDiv('detailsDIVAttributes80','DetailsImageAttributes80')" />詳細:
						<div id="detailsDIVAttributes80" class="DetailsDiv" >
						<i>別名:</i> 会員ID<br><i>&lt;&lt;column&gt;&gt;</i><div class="ObjectDetailsNotes"><table>
	<tr>
		<td valign="top">
			<i>ノート: </i><span style="margin-left: .4cm;"> </span>
		</td>
		<td>
			会員を参照するID。ユニークなので、会員とは one-to-one の関係に。
		</td>
	</tr>
</table></div>

						</div>
					</div>
				</td>
			</tr>			<tr>
				<td width="100%" class="TableRow" valign="top"><i>public INTEGER</i><br /><strong>&nbsp;&nbsp;POINT_COUNT</strong></td>
			</tr>
			<tr>
				<td class="TableRowBottomDashed"  colspan="1">
					<div class="DetailsDivParent"><img src="../images/minus03.gif" align="absmiddle" id="DetailsImageAttributes81" onclick="parent.toggleDiv('detailsDIVAttributes81','DetailsImageAttributes81')" />詳細:
						<div id="detailsDIVAttributes81" class="DetailsDiv" >
						<i>別名:</i> ポイント数<br><i>&lt;&lt;column&gt;&gt;</i><div class="ObjectDetailsNotes"><table>
	<tr>
		<td valign="top">
			<i>ノート: </i><span style="margin-left: .4cm;"> </span>
		</td>
		<td>
			会員が現在利用できるポイント数。&lt;br /&gt;基本的に、購入時には増えてポイントを使ったら減る。
		</td>
	</tr>
</table></div>

						</div>
					</div>
				</td>
			</tr>			<tr>
				<td width="100%" class="TableRow" valign="top"><i>public CHAR(3)</i><br /><strong>&nbsp;&nbsp;SERVICE_RANK_CODE</strong></td>
			</tr>
			<tr>
				<td class="TableRowBottomDashed"  colspan="1">
					<div class="DetailsDivParent"><img src="../images/minus03.gif" align="absmiddle" id="DetailsImageAttributes82" onclick="parent.toggleDiv('detailsDIVAttributes82','DetailsImageAttributes82')" />詳細:
						<div id="detailsDIVAttributes82" class="DetailsDiv" >
						<i>別名:</i> サービスランクコード<br><i>&lt;&lt;column&gt;&gt;</i><div class="ObjectDetailsNotes"><table>
	<tr>
		<td valign="top">
			<i>ノート: </i><span style="margin-left: .4cm;"> </span>
		</td>
		<td>
			サービスランクを参照するコード。&lt;br /&gt;どんなランクがあるのかドキドキですね。
		</td>
	</tr>
</table></div>

						</div>
					</div>
				</td>
			</tr>			<tr>
				<td width="100%" class="TableRow" valign="top"><i>public DATETIME</i><br /><strong>&nbsp;&nbsp;REGISTER_DATETIME</strong></td>
			</tr>
			<tr>
				<td class="TableRowBottomDashed"  colspan="1">
					<div class="DetailsDivParent"><img src="../images/minus03.gif" align="absmiddle" id="DetailsImageAttributes83" onclick="parent.toggleDiv('detailsDIVAttributes83','DetailsImageAttributes83')" />詳細:
						<div id="detailsDIVAttributes83" class="DetailsDiv" >
						<i>&lt;&lt;column&gt;&gt;</i>&nbsp;
						</div>
					</div>
				</td>
			</tr>			<tr>
				<td width="100%" class="TableRow" valign="top"><i>public VARCHAR(200)</i><br /><strong>&nbsp;&nbsp;REGISTER_PROCESS</strong></td>
			</tr>
			<tr>
				<td class="TableRowBottomDashed"  colspan="1">
					<div class="DetailsDivParent"><img src="../images/minus03.gif" align="absmiddle" id="DetailsImageAttributes84" onclick="parent.toggleDiv('detailsDIVAttributes84','DetailsImageAttributes84')" />詳細:
						<div id="detailsDIVAttributes84" class="DetailsDiv" >
						<i>&lt;&lt;column&gt;&gt;</i>&nbsp;
						</div>
					</div>
				</td>
			</tr>			<tr>
				<td width="100%" class="TableRow" valign="top"><i>public VARCHAR(200)</i><br /><strong>&nbsp;&nbsp;REGISTER_USER</strong></td>
			</tr>
			<tr>
				<td class="TableRowBottomDashed"  colspan="1">
					<div class="DetailsDivParent"><img src="../images/minus03.gif" align="absmiddle" id="DetailsImageAttributes85" onclick="parent.toggleDiv('detailsDIVAttributes85','DetailsImageAttributes85')" />詳細:
						<div id="detailsDIVAttributes85" class="DetailsDiv" >
						<i>&lt;&lt;column&gt;&gt;</i>&nbsp;
						</div>
					</div>
				</td>
			</tr>			<tr>
				<td width="100%" class="TableRow" valign="top"><i>public DATETIME</i><br /><strong>&nbsp;&nbsp;UPDATE_DATETIME</strong></td>
			</tr>
			<tr>
				<td class="TableRowBottomDashed"  colspan="1">
					<div class="DetailsDivParent"><img src="../images/minus03.gif" align="absmiddle" id="DetailsImageAttributes86" onclick="parent.toggleDiv('detailsDIVAttributes86','DetailsImageAttributes86')" />詳細:
						<div id="detailsDIVAttributes86" class="DetailsDiv" >
						<i>&lt;&lt;column&gt;&gt;</i>&nbsp;
						</div>
					</div>
				</td>
			</tr>			<tr>
				<td width="100%" class="TableRow" valign="top"><i>public VARCHAR(200)</i><br /><strong>&nbsp;&nbsp;UPDATE_PROCESS</strong></td>
			</tr>
			<tr>
				<td class="TableRowBottomDashed"  colspan="1">
					<div class="DetailsDivParent"><img src="../images/minus03.gif" align="absmiddle" id="DetailsImageAttributes87" onclick="parent.toggleDiv('detailsDIVAttributes87','DetailsImageAttributes87')" />詳細:
						<div id="detailsDIVAttributes87" class="DetailsDiv" >
						<i>&lt;&lt;column&gt;&gt;</i>&nbsp;
						</div>
					</div>
				</td>
			</tr>			<tr>
				<td width="100%" class="TableRow" valign="top"><i>public VARCHAR(200)</i><br /><strong>&nbsp;&nbsp;UPDATE_USER</strong></td>
			</tr>
			<tr>
				<td class="TableRowBottomDashed"  colspan="1">
					<div class="DetailsDivParent"><img src="../images/minus03.gif" align="absmiddle" id="DetailsImageAttributes88" onclick="parent.toggleDiv('detailsDIVAttributes88','DetailsImageAttributes88')" />詳細:
						<div id="detailsDIVAttributes88" class="DetailsDiv" >
						<i>&lt;&lt;column&gt;&gt;</i>&nbsp;
						</div>
					</div>
				</td>
			</tr>			<tr>
				<td width="100%" class="TableRow" valign="top"><i>public BIGINT</i><br /><strong>&nbsp;&nbsp;VERSION_NO</strong></td>
			</tr>
			<tr>
				<td class="TableRowBottomDashed"  colspan="1">
					<div class="DetailsDivParent"><img src="../images/minus03.gif" align="absmiddle" id="DetailsImageAttributes89" onclick="parent.toggleDiv('detailsDIVAttributes89','DetailsImageAttributes89')" />詳細:
						<div id="detailsDIVAttributes89" class="DetailsDiv" >
						<i>&lt;&lt;column&gt;&gt;</i>&nbsp;
						</div>
					</div>
				</td>
			</tr>
	</table>
</div>
<div class="ItemBody" id="OperationsTable">
	<table border="0" cellspacing="0" cellpadding="0" class="Table">
		<tr>
			<td width="100%" class="TableHeading">操作</td>
		</tr>
						<tr>
				<td width="100%" class="TableRow">
					<i>public</i><br />
					<strong>FK_MEMBER_SERVICE_MEMBER</strong>(<br />
					<a href="#" onclick="parent.toggleData('param{529A6C17-86B2-41fb-973F-E2197CF74A60}')" style="text-decoration: none; color: #000000;"><img src="../images/plus03.gif" align="absmiddle" id="param{529A6C17-86B2-41fb-973F-E2197CF74A60}" border="0" />MEMBER_ID: INTEGER</a>, 
					<table border="0" cellspacing="0" cellpadding="0" class="Table" style="padding: 4px 18px;">
						<tr id="param{529A6C17-86B2-41fb-973F-E2197CF74A60}00" style="display: none;">
							<td width="50"><strong>既定値:</strong></td>
							<td></td>
						</tr>
						<tr id="param{529A6C17-86B2-41fb-973F-E2197CF74A60}01" style="display: none;">
							<td width="50"><strong>種類:</strong></td>
							<td>in</td>
						</tr>
						<tr id="param{529A6C17-86B2-41fb-973F-E2197CF74A60}02" style="display: none;">
							<td width="50"><strong>ステレオタイプ: </strong></td>
							<td></td>
						</tr>
						<tr id="param{529A6C17-86B2-41fb-973F-E2197CF74A60}03" style="display: none;">
							<td width="50"></td>
							<td></td>
						</tr>
					</table>
):
				</td>
			</tr>
			<tr>
				<td class="TableRowBottomDashed"  colspan="1">
					<div class="DetailsDivParent"><img src="../images/minus03.gif" align="absmiddle" id="DetailsImageOperations90" onclick="parent.toggleDiv('detailsDIVOperations90','DetailsImageOperations90')" />詳細:
						<div id="detailsDIVOperations90" class="DetailsDiv" >
					<i> &lt;&lt;FK&gt;&gt; </i>
					<table>
						<tr>
							<td valign = "top"><i>タグ:</i><span style="margin-left: .7cm;"> </span></td>
							<td>property=Delete Cascade=0;Update Cascade=0;<br/></td>
						</tr>
					</table>
					
					
					
						</div>
					</div>
				</td>
			</tr>

			<tr>
				<td width="100%" class="TableRow">
					<i>public</i><br />
					<strong>FK_MEMBER_SERVICE_SERVICE_RANK</strong>(<br />
					<a href="#" onclick="parent.toggleData('param{7D03FAE0-B07F-41b5-A2E5-57C8FF924A60}')" style="text-decoration: none; color: #000000;"><img src="../images/plus03.gif" align="absmiddle" id="param{7D03FAE0-B07F-41b5-A2E5-57C8FF924A60}" border="0" />SERVICE_RANK_CODE: CHAR</a>, 
					<table border="0" cellspacing="0" cellpadding="0" class="Table" style="padding: 4px 18px;">
						<tr id="param{7D03FAE0-B07F-41b5-A2E5-57C8FF924A60}00" style="display: none;">
							<td width="50"><strong>既定値:</strong></td>
							<td></td>
						</tr>
						<tr id="param{7D03FAE0-B07F-41b5-A2E5-57C8FF924A60}01" style="display: none;">
							<td width="50"><strong>種類:</strong></td>
							<td>in</td>
						</tr>
						<tr id="param{7D03FAE0-B07F-41b5-A2E5-57C8FF924A60}02" style="display: none;">
							<td width="50"><strong>ステレオタイプ: </strong></td>
							<td></td>
						</tr>
						<tr id="param{7D03FAE0-B07F-41b5-A2E5-57C8FF924A60}03" style="display: none;">
							<td width="50"></td>
							<td></td>
						</tr>
					</table>
):
				</td>
			</tr>
			<tr>
				<td class="TableRowBottomDashed"  colspan="1">
					<div class="DetailsDivParent"><img src="../images/minus03.gif" align="absmiddle" id="DetailsImageOperations91" onclick="parent.toggleDiv('detailsDIVOperations91','DetailsImageOperations91')" />詳細:
						<div id="detailsDIVOperations91" class="DetailsDiv" >
					<i> &lt;&lt;FK&gt;&gt; </i>
					<table>
						<tr>
							<td valign = "top"><i>タグ:</i><span style="margin-left: .7cm;"> </span></td>
							<td>property=Delete Cascade=0;Update Cascade=0;<br/></td>
						</tr>
					</table>
					
					
					
						</div>
					</div>
				</td>
			</tr>

			<tr>
				<td width="100%" class="TableRow">
					<i>public</i><br />
					<strong>PK_MEMBER_SECURITY</strong>(<br />
					<a href="#" onclick="parent.toggleData('param{BDA56D85-31A0-451f-B70B-C2B22C156004}')" style="text-decoration: none; color: #000000;"><img src="../images/plus03.gif" align="absmiddle" id="param{BDA56D85-31A0-451f-B70B-C2B22C156004}" border="0" />MEMBER_SERVICE_ID: INTEGER</a>, 
					<table border="0" cellspacing="0" cellpadding="0" class="Table" style="padding: 4px 18px;">
						<tr id="param{BDA56D85-31A0-451f-B70B-C2B22C156004}00" style="display: none;">
							<td width="50"><strong>既定値:</strong></td>
							<td></td>
						</tr>
						<tr id="param{BDA56D85-31A0-451f-B70B-C2B22C156004}01" style="display: none;">
							<td width="50"><strong>種類:</strong></td>
							<td>in</td>
						</tr>
						<tr id="param{BDA56D85-31A0-451f-B70B-C2B22C156004}02" style="display: none;">
							<td width="50"><strong>ステレオタイプ: </strong></td>
							<td></td>
						</tr>
						<tr id="param{BDA56D85-31A0-451f-B70B-C2B22C156004}03" style="display: none;">
							<td width="50"></td>
							<td></td>
						</tr>
					</table>
):
				</td>
			</tr>
			<tr>
				<td class="TableRowBottomDashed"  colspan="1">
					<div class="DetailsDivParent"><img src="../images/minus03.gif" align="absmiddle" id="DetailsImageOperations92" onclick="parent.toggleDiv('detailsDIVOperations92','DetailsImageOperations92')" />詳細:
						<div id="detailsDIVOperations92" class="DetailsDiv" >
					<i> &lt;&lt;PK&gt;&gt; </i>
					<table>
						<tr>
							<td valign = "top"><i></i><span style="margin-left: .7cm;"> </span></td>
							<td></td>
						</tr>
					</table>
					
					
					
						</div>
					</div>
				</td>
			</tr>

			<tr>
				<td width="100%" class="TableRow">
					<i>public</i><br />
					<strong>FK_MEMBER_SECURITY_MEMBER</strong>(<br />
					<a href="#" onclick="parent.toggleData('param{0859E9FA-B977-48df-8F60-B7DD666EDA14}')" style="text-decoration: none; color: #000000;"><img src="../images/plus03.gif" align="absmiddle" id="param{0859E9FA-B977-48df-8F60-B7DD666EDA14}" border="0" />MEMBER_ID: INTEGER</a>, 
					<table border="0" cellspacing="0" cellpadding="0" class="Table" style="padding: 4px 18px;">
						<tr id="param{0859E9FA-B977-48df-8F60-B7DD666EDA14}00" style="display: none;">
							<td width="50"><strong>既定値:</strong></td>
							<td></td>
						</tr>
						<tr id="param{0859E9FA-B977-48df-8F60-B7DD666EDA14}01" style="display: none;">
							<td width="50"><strong>種類:</strong></td>
							<td>in</td>
						</tr>
						<tr id="param{0859E9FA-B977-48df-8F60-B7DD666EDA14}02" style="display: none;">
							<td width="50"><strong>ステレオタイプ: </strong></td>
							<td></td>
						</tr>
						<tr id="param{0859E9FA-B977-48df-8F60-B7DD666EDA14}03" style="display: none;">
							<td width="50"></td>
							<td></td>
						</tr>
					</table>
):
				</td>
			</tr>
			<tr>
				<td class="TableRowBottomDashed"  colspan="1">
					<div class="DetailsDivParent"><img src="../images/minus03.gif" align="absmiddle" id="DetailsImageOperations93" onclick="parent.toggleDiv('detailsDIVOperations93','DetailsImageOperations93')" />詳細:
						<div id="detailsDIVOperations93" class="DetailsDiv" >
					<i> &lt;&lt;FK&gt;&gt; </i>
					<table>
						<tr>
							<td valign = "top"><i>タグ:</i><span style="margin-left: .7cm;"> </span></td>
							<td>property=Delete Cascade=0;Update Cascade=0;<br/></td>
						</tr>
					</table>
					
					
					
						</div>
					</div>
				</td>
			</tr>

			<tr>
				<td width="100%" class="TableRow">
					<i>public</i><br />
					<strong>UQ_MEMBER_SERVICE</strong>(<br />
					<a href="#" onclick="parent.toggleData('param{529B43E1-C9DC-4011-ABCD-1D89B15324FD}')" style="text-decoration: none; color: #000000;"><img src="../images/plus03.gif" align="absmiddle" id="param{529B43E1-C9DC-4011-ABCD-1D89B15324FD}" border="0" />MEMBER_ID: INTEGER</a>, 
					<table border="0" cellspacing="0" cellpadding="0" class="Table" style="padding: 4px 18px;">
						<tr id="param{529B43E1-C9DC-4011-ABCD-1D89B15324FD}00" style="display: none;">
							<td width="50"><strong>既定値:</strong></td>
							<td></td>
						</tr>
						<tr id="param{529B43E1-C9DC-4011-ABCD-1D89B15324FD}01" style="display: none;">
							<td width="50"><strong>種類:</strong></td>
							<td>in</td>
						</tr>
						<tr id="param{529B43E1-C9DC-4011-ABCD-1D89B15324FD}02" style="display: none;">
							<td width="50"><strong>ステレオタイプ: </strong></td>
							<td></td>
						</tr>
						<tr id="param{529B43E1-C9DC-4011-ABCD-1D89B15324FD}03" style="display: none;">
							<td width="50"></td>
							<td></td>
						</tr>
					</table>
):
				</td>
			</tr>
			<tr>
				<td class="TableRowBottomDashed"  colspan="1">
					<div class="DetailsDivParent"><img src="../images/minus03.gif" align="absmiddle" id="DetailsImageOperations94" onclick="parent.toggleDiv('detailsDIVOperations94','DetailsImageOperations94')" />詳細:
						<div id="detailsDIVOperations94" class="DetailsDiv" >
					<i> &lt;&lt;unique&gt;&gt; </i>
					<table>
						<tr>
							<td valign = "top"><i></i><span style="margin-left: .7cm;"> </span></td>
							<td></td>
						</tr>
					</table>
					
					
					
						</div>
					</div>
				</td>
			</tr>


		</table>
</div>		<div class="ItemBody" id="AssociationsターゲットTable">
			<table border="0" cellspacing="0" cellpadding="0" class="Table">
				<tr>
					<td width="40%" class="TableHeading">要素</td>
					<td width="30%" class="TableHeading">ソースの役割</td>
					<td width="30%" class="TableHeading">ターゲットの役割</td>
				</tr>
				<tr>
					<td width="40%" class="TableRow" valign="top">
						<a href="EA7.htm">«table» MEMBER</a><br />
						クラス «FK» 
					</td>
					<td width="30%" class="TableRow" valign="top">
						<strong>名前:</strong> FK_MEMBER_SERVICE_MEMBER<br />
						&nbsp;
					</td>
					<td width="30%" class="TableRow" valign="top">
						<strong>名前:</strong> PK_MEMBER<br />
						&nbsp;	
					</td>
				</tr>
				<tr>
					<td class="TableRowBottomDashed"  colspan="3">
						<div class="DetailsDivParent"><img src="../images/minus03.gif" align="absmiddle" id="DetailsImageLink95" onclick="parent.toggleDiv('detailsDIVLink95','DetailsImageLink95')" />詳細:
							<div id="detailsDIVLink95" class="DetailsDiv" >
							&nbsp;
							</div>
						</div>
					</td>
				</tr>
				<tr>
					<td width="40%" class="TableRow" valign="top">
						<a href="EA19.htm">«table» SERVICE_RANK</a><br />
						クラス «FK» 
					</td>
					<td width="30%" class="TableRow" valign="top">
						<strong>名前:</strong> FK_MEMBER_SERVICE_SERVICE_RANK<br />
						&nbsp;
					</td>
					<td width="30%" class="TableRow" valign="top">
						<strong>名前:</strong> PK_MEMBER_STATUS<br />
						&nbsp;	
					</td>
				</tr>
				<tr>
					<td class="TableRowBottomDashed"  colspan="3">
						<div class="DetailsDivParent"><img src="../images/minus03.gif" align="absmiddle" id="DetailsImageLink96" onclick="parent.toggleDiv('detailsDIVLink96','DetailsImageLink96')" />詳細:
							<div id="detailsDIVLink96" class="DetailsDiv" >
							&nbsp;
							</div>
						</div>
					</td>
				</tr>

			</table>
		</div>
	</div>
<div class="pageFooter"></div>
 
</body>
</html>