<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>PRODUCT</title>
<link href="../css/ea.css" rel="stylesheet" type="text/css" />
<script>
function initPage(src) {
	if(parent==this&&(this.location+"").indexOf('EARoot')!=-1)
		document.location=(this.location+"").substring(0,(this.location+"").indexOf('EARoot'))+"index"+(this.location+"").substring((this.location+"").lastIndexOf('.'))+"?goto="+((this.location+"").substring((this.location+"").indexOf('EARoot')+7,(this.location+"").lastIndexOf('.')).replace(/\//g,':').replace(/EA/g,""));
	else
		parent.initPage(src);
}
</script>
</head>
<body onload="initPage(this);" class="Content">
<div class="pageHeader"></div>
<div class="PageBody">
	<span class="ObjectTitle">PRODUCT  (商品) : public  &lt;&lt;table&gt;&gt; クラス</span>
	<table border="0" cellpadding="0" cellspacing="0" class="ObjectDetails">
		<tr>
			<td width="15%" class="ObjectDetailsTopic">作成日:</td>
			<td width="85%" class="ObjectDetailsValue">2007/10/21 16:26:06</td>
		</tr>
		<tr>
			<td class="ObjectDetailsTopic">更新日:</td>
			<td class="ObjectDetailsValue">2007/10/21 16:51:51</td>
		</tr>
		<tr style="height: 10px"><td colspan="2"></td></tr>
		<tr>
			<td class="ObjectDetailsTopic"><img src="../images/plus03.gif" align="absmiddle" id="proj" onclick="parent.toggleData(this.id)" />プロジェクト:</td>
			<td class="ObjectDetailsValue"></td>
		</tr>
		<tr id="proj00" style="display: none;">
			<td class="ObjectDetailsTopic" style="padding-left: 18px;">作者:</td>
			<td class="ObjectDetailsValue"></td>
		</tr>
		<tr id="proj01" style="display: none;">
			<td class="ObjectDetailsTopic" style="padding-left: 18px;">バージョン:</td>
			<td class="ObjectDetailsValue">1.0</td>
		</tr>
		<tr id="proj02" style="display: none;">
			<td class="ObjectDetailsTopic" style="padding-left: 18px;">フェーズ:</td>
			<td class="ObjectDetailsValue">1.0</td>
		</tr>
		<tr id="proj03" style="display: none;">
			<td class="ObjectDetailsTopic" style="padding-left: 18px;">状態:</td>
			<td class="ObjectDetailsValue">設計中</td>
		</tr>
		<tr id="proj04" style="display: none;">
			<td class="ObjectDetailsTopic" style="padding-left: 18px;">複雑度:</td>
			<td class="ObjectDetailsValue">簡単</td>
		</tr>
		<tr>
			<td class="ObjectDetailsTopic"><img src="../images/plus03.gif" align="absmiddle" id="adv" onclick="parent.toggleData(this.id)" />追加情報:</td>
			<td class="ObjectDetailsValue"></td>
		</tr>
		<tr id="adv00" style="display: none;">
			<td class="ObjectDetailsTopic" style="padding-left: 18px;">GUID:</td>
			<td class="ObjectDetailsValue">{44951CBF-642D-44d5-A295-C8136A4A5A27}</td>
		</tr>
		<tr id="adv01" style="display: none;">
			<td class="ObjectDetailsTopic" style="padding-left: 18px;">ダイアグラム:</td>
			<td class="ObjectDetailsValue"><a href="EA1.html">exampledb-erd</a></td>
		</tr>
	</table>
	
	<div class="TableGroup" id="TableGroup">
		<ul class="ItemTitle">
			<li onClick="parent.toggleItem('Attributes');" id="AttributesTitle">属性</li>
			<li onClick="parent.toggleItem('Operations');" id="OperationsTitle">操作</li>
			<li onClick="parent.toggleItem('Associationsターゲット');" id="AssociationsターゲットTitle">接続の概要 ターゲット</li>
			<li onClick="parent.toggleItem('Associationsソース');" id="AssociationsソースTitle">接続の概要 ソース</li>
		</ul>
<div class="ItemBody" id="AttributesTable">
	<table border="0" cellspacing="0" cellpadding="0" class="Table">
		<tr>
			<td width="100%" class="TableHeading">属性</td>
		</tr>
						<tr>
				<td width="100%" class="TableRow" valign="top"><i>public INTEGER</i><br /><strong>&nbsp;&nbsp;PRODUCT_ID</strong></td>
			</tr>
			<tr>
				<td class="TableRowBottomDashed"  colspan="1">
					<div class="DetailsDivParent"><img src="../images/minus03.gif" align="absmiddle" id="DetailsImageAttributes125" onclick="parent.toggleDiv('detailsDIVAttributes125','DetailsImageAttributes125')" />詳細:
						<div id="detailsDIVAttributes125" class="DetailsDiv" >
						<i>別名:</i> 商品ID<br><i>&lt;&lt;column&gt;&gt;Ordered <br /></i>&nbsp;
						</div>
					</div>
				</td>
			</tr>			<tr>
				<td width="100%" class="TableRow" valign="top"><i>public VARCHAR(50)</i><br /><strong>&nbsp;&nbsp;PRODUCT_NAME</strong></td>
			</tr>
			<tr>
				<td class="TableRowBottomDashed"  colspan="1">
					<div class="DetailsDivParent"><img src="../images/minus03.gif" align="absmiddle" id="DetailsImageAttributes126" onclick="parent.toggleDiv('detailsDIVAttributes126','DetailsImageAttributes126')" />詳細:
						<div id="detailsDIVAttributes126" class="DetailsDiv" >
						<i>別名:</i> 商品名称<br><i>&lt;&lt;column&gt;&gt;</i>&nbsp;
						</div>
					</div>
				</td>
			</tr>			<tr>
				<td width="100%" class="TableRow" valign="top"><i>public static VARCHAR(100)</i><br /><strong>&nbsp;&nbsp;PRODUCT_HANDLE_CODE</strong></td>
			</tr>
			<tr>
				<td class="TableRowBottomDashed"  colspan="1">
					<div class="DetailsDivParent"><img src="../images/minus03.gif" align="absmiddle" id="DetailsImageAttributes127" onclick="parent.toggleDiv('detailsDIVAttributes127','DetailsImageAttributes127')" />詳細:
						<div id="detailsDIVAttributes127" class="DetailsDiv" >
						<i>別名:</i> 商品ハンドルコード<br><i>&lt;&lt;column&gt;&gt;</i>&nbsp;
						</div>
					</div>
				</td>
			</tr>			<tr>
				<td width="100%" class="TableRow" valign="top"><i>public CHAR(3)</i><br /><strong>&nbsp;&nbsp;PRODUCT_CATEGORY_CODE</strong></td>
			</tr>
			<tr>
				<td class="TableRowBottomDashed"  colspan="1">
					<div class="DetailsDivParent"><img src="../images/minus03.gif" align="absmiddle" id="DetailsImageAttributes128" onclick="parent.toggleDiv('detailsDIVAttributes128','DetailsImageAttributes128')" />詳細:
						<div id="detailsDIVAttributes128" class="DetailsDiv" >
						<i>別名:</i> 商品カテゴリコード<br><i>&lt;&lt;column&gt;&gt;</i>&nbsp;
						</div>
					</div>
				</td>
			</tr>			<tr>
				<td width="100%" class="TableRow" valign="top"><i>public CHAR(3)</i><br /><strong>&nbsp;&nbsp;PRODUCT_STATUS_CODE</strong></td>
			</tr>
			<tr>
				<td class="TableRowBottomDashed"  colspan="1">
					<div class="DetailsDivParent"><img src="../images/minus03.gif" align="absmiddle" id="DetailsImageAttributes129" onclick="parent.toggleDiv('detailsDIVAttributes129','DetailsImageAttributes129')" />詳細:
						<div id="detailsDIVAttributes129" class="DetailsDiv" >
						<i>別名:</i> 商品ステータスコード<br><i>&lt;&lt;column&gt;&gt;</i><div class="ObjectDetailsNotes"><table>
	<tr>
		<td valign="top">
			<i>ノート: </i><span style="margin-left: .4cm;"> </span>
		</td>
		<td>
			販売OK・販売NG・生産終了
		</td>
	</tr>
</table></div>

						</div>
					</div>
				</td>
			</tr>			<tr>
				<td width="100%" class="TableRow" valign="top"><i>public INTEGER</i><br /><strong>&nbsp;&nbsp;REGULAR_PRICE</strong></td>
			</tr>
			<tr>
				<td class="TableRowBottomDashed"  colspan="1">
					<div class="DetailsDivParent"><img src="../images/minus03.gif" align="absmiddle" id="DetailsImageAttributes130" onclick="parent.toggleDiv('detailsDIVAttributes130','DetailsImageAttributes130')" />詳細:
						<div id="detailsDIVAttributes130" class="DetailsDiv" >
						<i>別名:</i> 定価<br><i>&lt;&lt;column&gt;&gt;</i>&nbsp;
						</div>
					</div>
				</td>
			</tr>			<tr>
				<td width="100%" class="TableRow" valign="top"><i>public DATETIME</i><br /><strong>&nbsp;&nbsp;REGISTER_DATETIME</strong></td>
			</tr>
			<tr>
				<td class="TableRowBottomDashed"  colspan="1">
					<div class="DetailsDivParent"><img src="../images/minus03.gif" align="absmiddle" id="DetailsImageAttributes131" onclick="parent.toggleDiv('detailsDIVAttributes131','DetailsImageAttributes131')" />詳細:
						<div id="detailsDIVAttributes131" class="DetailsDiv" >
						<i>&lt;&lt;column&gt;&gt;</i>&nbsp;
						</div>
					</div>
				</td>
			</tr>			<tr>
				<td width="100%" class="TableRow" valign="top"><i>public VARCHAR(200)</i><br /><strong>&nbsp;&nbsp;REGISTER_USER</strong></td>
			</tr>
			<tr>
				<td class="TableRowBottomDashed"  colspan="1">
					<div class="DetailsDivParent"><img src="../images/minus03.gif" align="absmiddle" id="DetailsImageAttributes132" onclick="parent.toggleDiv('detailsDIVAttributes132','DetailsImageAttributes132')" />詳細:
						<div id="detailsDIVAttributes132" class="DetailsDiv" >
						<i>&lt;&lt;column&gt;&gt;</i>&nbsp;
						</div>
					</div>
				</td>
			</tr>			<tr>
				<td width="100%" class="TableRow" valign="top"><i>public VARCHAR(200)</i><br /><strong>&nbsp;&nbsp;REGISTER_PROCESS</strong></td>
			</tr>
			<tr>
				<td class="TableRowBottomDashed"  colspan="1">
					<div class="DetailsDivParent"><img src="../images/minus03.gif" align="absmiddle" id="DetailsImageAttributes133" onclick="parent.toggleDiv('detailsDIVAttributes133','DetailsImageAttributes133')" />詳細:
						<div id="detailsDIVAttributes133" class="DetailsDiv" >
						<i>&lt;&lt;column&gt;&gt;</i>&nbsp;
						</div>
					</div>
				</td>
			</tr>			<tr>
				<td width="100%" class="TableRow" valign="top"><i>public DATETIME</i><br /><strong>&nbsp;&nbsp;UPDATE_DATETIME</strong></td>
			</tr>
			<tr>
				<td class="TableRowBottomDashed"  colspan="1">
					<div class="DetailsDivParent"><img src="../images/minus03.gif" align="absmiddle" id="DetailsImageAttributes134" onclick="parent.toggleDiv('detailsDIVAttributes134','DetailsImageAttributes134')" />詳細:
						<div id="detailsDIVAttributes134" class="DetailsDiv" >
						<i>&lt;&lt;column&gt;&gt;</i>&nbsp;
						</div>
					</div>
				</td>
			</tr>			<tr>
				<td width="100%" class="TableRow" valign="top"><i>public VARCHAR(200)</i><br /><strong>&nbsp;&nbsp;UPDATE_USER</strong></td>
			</tr>
			<tr>
				<td class="TableRowBottomDashed"  colspan="1">
					<div class="DetailsDivParent"><img src="../images/minus03.gif" align="absmiddle" id="DetailsImageAttributes135" onclick="parent.toggleDiv('detailsDIVAttributes135','DetailsImageAttributes135')" />詳細:
						<div id="detailsDIVAttributes135" class="DetailsDiv" >
						<i>&lt;&lt;column&gt;&gt;</i>&nbsp;
						</div>
					</div>
				</td>
			</tr>			<tr>
				<td width="100%" class="TableRow" valign="top"><i>public VARCHAR(200)</i><br /><strong>&nbsp;&nbsp;UPDATE_PROCESS</strong></td>
			</tr>
			<tr>
				<td class="TableRowBottomDashed"  colspan="1">
					<div class="DetailsDivParent"><img src="../images/minus03.gif" align="absmiddle" id="DetailsImageAttributes136" onclick="parent.toggleDiv('detailsDIVAttributes136','DetailsImageAttributes136')" />詳細:
						<div id="detailsDIVAttributes136" class="DetailsDiv" >
						<i>&lt;&lt;column&gt;&gt;</i>&nbsp;
						</div>
					</div>
				</td>
			</tr>			<tr>
				<td width="100%" class="TableRow" valign="top"><i>public BIGINT</i><br /><strong>&nbsp;&nbsp;VERSION_NO</strong></td>
			</tr>
			<tr>
				<td class="TableRowBottomDashed"  colspan="1">
					<div class="DetailsDivParent"><img src="../images/minus03.gif" align="absmiddle" id="DetailsImageAttributes137" onclick="parent.toggleDiv('detailsDIVAttributes137','DetailsImageAttributes137')" />詳細:
						<div id="detailsDIVAttributes137" class="DetailsDiv" >
						<i>&lt;&lt;column&gt;&gt;</i>&nbsp;
						</div>
					</div>
				</td>
			</tr>
	</table>
</div>
<div class="ItemBody" id="OperationsTable">
	<table border="0" cellspacing="0" cellpadding="0" class="Table">
		<tr>
			<td width="100%" class="TableHeading">操作</td>
		</tr>
						<tr>
				<td width="100%" class="TableRow">
					<i>public</i><br />
					<strong>FK_PRODUCT_PRODUCT_CATEGORY</strong>(<br />
					<a href="#" onclick="parent.toggleData('param{DA2544C7-D082-48f7-A359-5ADF43ADADD4}')" style="text-decoration: none; color: #000000;"><img src="../images/plus03.gif" align="absmiddle" id="param{DA2544C7-D082-48f7-A359-5ADF43ADADD4}" border="0" />PRODUCT_CATEGORY_CODE: CHAR</a>, 
					<table border="0" cellspacing="0" cellpadding="0" class="Table" style="padding: 4px 18px;">
						<tr id="param{DA2544C7-D082-48f7-A359-5ADF43ADADD4}00" style="display: none;">
							<td width="50"><strong>既定値:</strong></td>
							<td></td>
						</tr>
						<tr id="param{DA2544C7-D082-48f7-A359-5ADF43ADADD4}01" style="display: none;">
							<td width="50"><strong>種類:</strong></td>
							<td>in</td>
						</tr>
						<tr id="param{DA2544C7-D082-48f7-A359-5ADF43ADADD4}02" style="display: none;">
							<td width="50"><strong>ステレオタイプ: </strong></td>
							<td></td>
						</tr>
						<tr id="param{DA2544C7-D082-48f7-A359-5ADF43ADADD4}03" style="display: none;">
							<td width="50"></td>
							<td></td>
						</tr>
					</table>
):
				</td>
			</tr>
			<tr>
				<td class="TableRowBottomDashed"  colspan="1">
					<div class="DetailsDivParent"><img src="../images/minus03.gif" align="absmiddle" id="DetailsImageOperations138" onclick="parent.toggleDiv('detailsDIVOperations138','DetailsImageOperations138')" />詳細:
						<div id="detailsDIVOperations138" class="DetailsDiv" >
					<i> &lt;&lt;FK&gt;&gt; </i>
					<table>
						<tr>
							<td valign = "top"><i>タグ:</i><span style="margin-left: .7cm;"> </span></td>
							<td>property=Delete Cascade=0;Update Cascade=0;<br/></td>
						</tr>
					</table>
					
					
					
						</div>
					</div>
				</td>
			</tr>

			<tr>
				<td width="100%" class="TableRow">
					<i>public</i><br />
					<strong>PK_PRODUCT</strong>(<br />
					<a href="#" onclick="parent.toggleData('param{815FF2D9-AF6D-47e6-9B66-62997BEE5AA3}')" style="text-decoration: none; color: #000000;"><img src="../images/plus03.gif" align="absmiddle" id="param{815FF2D9-AF6D-47e6-9B66-62997BEE5AA3}" border="0" />PRODUCT_ID: INTEGER</a>, 
					<table border="0" cellspacing="0" cellpadding="0" class="Table" style="padding: 4px 18px;">
						<tr id="param{815FF2D9-AF6D-47e6-9B66-62997BEE5AA3}00" style="display: none;">
							<td width="50"><strong>既定値:</strong></td>
							<td></td>
						</tr>
						<tr id="param{815FF2D9-AF6D-47e6-9B66-62997BEE5AA3}01" style="display: none;">
							<td width="50"><strong>種類:</strong></td>
							<td>in</td>
						</tr>
						<tr id="param{815FF2D9-AF6D-47e6-9B66-62997BEE5AA3}02" style="display: none;">
							<td width="50"><strong>ステレオタイプ: </strong></td>
							<td></td>
						</tr>
						<tr id="param{815FF2D9-AF6D-47e6-9B66-62997BEE5AA3}03" style="display: none;">
							<td width="50"></td>
							<td></td>
						</tr>
					</table>
):
				</td>
			</tr>
			<tr>
				<td class="TableRowBottomDashed"  colspan="1">
					<div class="DetailsDivParent"><img src="../images/minus03.gif" align="absmiddle" id="DetailsImageOperations139" onclick="parent.toggleDiv('detailsDIVOperations139','DetailsImageOperations139')" />詳細:
						<div id="detailsDIVOperations139" class="DetailsDiv" >
					<i> &lt;&lt;PK&gt;&gt; </i>
					<table>
						<tr>
							<td valign = "top"><i></i><span style="margin-left: .7cm;"> </span></td>
							<td></td>
						</tr>
					</table>
					
					
					
						</div>
					</div>
				</td>
			</tr>

			<tr>
				<td width="100%" class="TableRow">
					<i>public</i><br />
					<strong>UQ_PRODUCT_PRODUCT_HANDLE_CODE</strong>(<br />
					<a href="#" onclick="parent.toggleData('param{294A1422-6334-4feb-86EF-AA2854CE0F66}')" style="text-decoration: none; color: #000000;"><img src="../images/plus03.gif" align="absmiddle" id="param{294A1422-6334-4feb-86EF-AA2854CE0F66}" border="0" />PRODUCT_HANDLE_CODE: VARCHAR</a>, 
					<table border="0" cellspacing="0" cellpadding="0" class="Table" style="padding: 4px 18px;">
						<tr id="param{294A1422-6334-4feb-86EF-AA2854CE0F66}00" style="display: none;">
							<td width="50"><strong>既定値:</strong></td>
							<td></td>
						</tr>
						<tr id="param{294A1422-6334-4feb-86EF-AA2854CE0F66}01" style="display: none;">
							<td width="50"><strong>種類:</strong></td>
							<td>in</td>
						</tr>
						<tr id="param{294A1422-6334-4feb-86EF-AA2854CE0F66}02" style="display: none;">
							<td width="50"><strong>ステレオタイプ: </strong></td>
							<td></td>
						</tr>
						<tr id="param{294A1422-6334-4feb-86EF-AA2854CE0F66}03" style="display: none;">
							<td width="50"></td>
							<td></td>
						</tr>
					</table>
):
				</td>
			</tr>
			<tr>
				<td class="TableRowBottomDashed"  colspan="1">
					<div class="DetailsDivParent"><img src="../images/minus03.gif" align="absmiddle" id="DetailsImageOperations140" onclick="parent.toggleDiv('detailsDIVOperations140','DetailsImageOperations140')" />詳細:
						<div id="detailsDIVOperations140" class="DetailsDiv" >
					<i> &lt;&lt;unique&gt;&gt; </i>
					<table>
						<tr>
							<td valign = "top"><i></i><span style="margin-left: .7cm;"> </span></td>
							<td></td>
						</tr>
					</table>
					
					
					
						</div>
					</div>
				</td>
			</tr>

			<tr>
				<td width="100%" class="TableRow">
					<i>public</i><br />
					<strong>FK_PRODUCT_PRODUCT_STATUS</strong>(<br />
					<a href="#" onclick="parent.toggleData('param{A0BC1296-66C3-4cf1-AA2D-014E7765FAC2}')" style="text-decoration: none; color: #000000;"><img src="../images/plus03.gif" align="absmiddle" id="param{A0BC1296-66C3-4cf1-AA2D-014E7765FAC2}" border="0" />PRODUCT_STATUS_CODE: CHAR</a>, 
					<table border="0" cellspacing="0" cellpadding="0" class="Table" style="padding: 4px 18px;">
						<tr id="param{A0BC1296-66C3-4cf1-AA2D-014E7765FAC2}00" style="display: none;">
							<td width="50"><strong>既定値:</strong></td>
							<td></td>
						</tr>
						<tr id="param{A0BC1296-66C3-4cf1-AA2D-014E7765FAC2}01" style="display: none;">
							<td width="50"><strong>種類:</strong></td>
							<td>in</td>
						</tr>
						<tr id="param{A0BC1296-66C3-4cf1-AA2D-014E7765FAC2}02" style="display: none;">
							<td width="50"><strong>ステレオタイプ: </strong></td>
							<td></td>
						</tr>
						<tr id="param{A0BC1296-66C3-4cf1-AA2D-014E7765FAC2}03" style="display: none;">
							<td width="50"></td>
							<td></td>
						</tr>
					</table>
):
				</td>
			</tr>
			<tr>
				<td class="TableRowBottomDashed"  colspan="1">
					<div class="DetailsDivParent"><img src="../images/minus03.gif" align="absmiddle" id="DetailsImageOperations141" onclick="parent.toggleDiv('detailsDIVOperations141','DetailsImageOperations141')" />詳細:
						<div id="detailsDIVOperations141" class="DetailsDiv" >
					<i> &lt;&lt;FK&gt;&gt; </i>
					<table>
						<tr>
							<td valign = "top"><i>タグ:</i><span style="margin-left: .7cm;"> </span></td>
							<td>property=Delete Cascade=0;Update Cascade=0;<br/></td>
						</tr>
					</table>
					
					
					
						</div>
					</div>
				</td>
			</tr>


		</table>
</div>		<div class="ItemBody" id="AssociationsターゲットTable">
			<table border="0" cellspacing="0" cellpadding="0" class="Table">
				<tr>
					<td width="40%" class="TableHeading">要素</td>
					<td width="30%" class="TableHeading">ソースの役割</td>
					<td width="30%" class="TableHeading">ターゲットの役割</td>
				</tr>
				<tr>
					<td width="40%" class="TableRow" valign="top">
						<a href="EA16.html">«table» PRODUCT_STATUS</a><br />
						クラス «FK» 
					</td>
					<td width="30%" class="TableRow" valign="top">
						<strong>名前:</strong> FK_PRODUCT_PRODUCT_STATUS<br />
						&nbsp;
					</td>
					<td width="30%" class="TableRow" valign="top">
						<strong>名前:</strong> PK_PRODUCT_STATUS<br />
						&nbsp;	
					</td>
				</tr>
				<tr>
					<td class="TableRowBottomDashed"  colspan="3">
						<div class="DetailsDivParent"><img src="../images/minus03.gif" align="absmiddle" id="DetailsImageLink143" onclick="parent.toggleDiv('detailsDIVLink143','DetailsImageLink143')" />詳細:
							<div id="detailsDIVLink143" class="DetailsDiv" >
							&nbsp;
							</div>
						</div>
					</td>
				</tr>
				<tr>
					<td width="40%" class="TableRow" valign="top">
						<a href="EA15.html">«table» PRODUCT_CATEGORY</a><br />
						クラス «FK» 
					</td>
					<td width="30%" class="TableRow" valign="top">
						<strong>名前:</strong> FK_PRODUCT_PRODUCT_CATEGORY<br />
						&nbsp;
					</td>
					<td width="30%" class="TableRow" valign="top">
						<strong>名前:</strong> PK_PRODUCT_STATUS<br />
						&nbsp;	
					</td>
				</tr>
				<tr>
					<td class="TableRowBottomDashed"  colspan="3">
						<div class="DetailsDivParent"><img src="../images/minus03.gif" align="absmiddle" id="DetailsImageLink144" onclick="parent.toggleDiv('detailsDIVLink144','DetailsImageLink144')" />詳細:
							<div id="detailsDIVLink144" class="DetailsDiv" >
							&nbsp;
							</div>
						</div>
					</td>
				</tr>

			</table>
		</div>
		<div class="ItemBody" id="AssociationsソースTable">
			<table border="0" cellspacing="0" cellpadding="0" class="Table">
				<tr>
					<td width="40%" class="TableHeading">要素</td>
					<td width="30%" class="TableHeading">ソースの役割</td>
					<td width="30%" class="TableHeading">ターゲットの役割</td>
				</tr>
				<tr>
					<td width="40%" class="TableRow" valign="top">
						<a href="EA17.html">«table» PURCHASE</a><br />
						クラス «FK» 
					</td>
					<td width="30%" class="TableRow" valign="top">
						<strong>名前:</strong> FK_PURCHASE_PRODUCT<br />
						&nbsp;
					</td>
					<td width="30%" class="TableRow" valign="top">
						<strong>名前:</strong> PK_PRODUCT<br />
						&nbsp;	
					</td>
				</tr>
				<tr>
					<td class="TableRowBottomDashed"  colspan="3">
						<div class="DetailsDivParent"><img src="../images/minus03.gif" align="absmiddle" id="DetailsImageLink145" onclick="parent.toggleDiv('detailsDIVLink145','DetailsImageLink145')" />詳細:
							<div id="detailsDIVLink145" class="DetailsDiv" >
							&nbsp;
							</div>
						</div>
					</td>
				</tr>

			</table>
		</div>
	</div>
<div class="pageFooter"></div>
 
</body>
</html>