<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>REGION</title>
<link href="../css/ea.css" rel="stylesheet" type="text/css" />
<script>
function initPage(src) {
	if(parent==this&&(this.location+"").indexOf('EARoot')!=-1)
		document.location=(this.location+"").substring(0,(this.location+"").indexOf('EARoot'))+"index"+(this.location+"").substring((this.location+"").lastIndexOf('.'))+"?goto="+((this.location+"").substring((this.location+"").indexOf('EARoot')+7,(this.location+"").lastIndexOf('.')).replace(/\//g,':').replace(/EA/g,""));
	else
		parent.initPage(src);
}
</script>
</head>
<body onload="initPage(this);" class="Content">
<div class="pageHeader"></div>
<div class="PageBody">
	<span class="ObjectTitle">REGION  (地域) : public  &lt;&lt;table&gt;&gt; クラス</span>
	<table border="0" cellpadding="0" cellspacing="0" class="ObjectDetails">
		<tr>
			<td width="15%" class="ObjectDetailsTopic">作成日:</td>
			<td width="85%" class="ObjectDetailsValue">2007/10/21 16:26:06</td>
		</tr>
		<tr>
			<td class="ObjectDetailsTopic">更新日:</td>
			<td class="ObjectDetailsValue">2011/05/04 21:19:48</td>
		</tr>
		<tr style="height: 10px"><td colspan="2"></td></tr>
		<tr>
			<td class="ObjectDetailsTopic"><img src="../images/plus03.gif" align="absmiddle" id="proj" onclick="parent.toggleData(this.id)" />プロジェクト:</td>
			<td class="ObjectDetailsValue"></td>
		</tr>
		<tr id="proj00" style="display: none;">
			<td class="ObjectDetailsTopic" style="padding-left: 18px;">作者:</td>
			<td class="ObjectDetailsValue"></td>
		</tr>
		<tr id="proj01" style="display: none;">
			<td class="ObjectDetailsTopic" style="padding-left: 18px;">バージョン:</td>
			<td class="ObjectDetailsValue">1.0</td>
		</tr>
		<tr id="proj02" style="display: none;">
			<td class="ObjectDetailsTopic" style="padding-left: 18px;">フェーズ:</td>
			<td class="ObjectDetailsValue">1.0</td>
		</tr>
		<tr id="proj03" style="display: none;">
			<td class="ObjectDetailsTopic" style="padding-left: 18px;">状態:</td>
			<td class="ObjectDetailsValue">設計中</td>
		</tr>
		<tr id="proj04" style="display: none;">
			<td class="ObjectDetailsTopic" style="padding-left: 18px;">複雑度:</td>
			<td class="ObjectDetailsValue">簡単</td>
		</tr>
		<tr>
			<td class="ObjectDetailsTopic"><img src="../images/plus03.gif" align="absmiddle" id="adv" onclick="parent.toggleData(this.id)" />追加情報:</td>
			<td class="ObjectDetailsValue"></td>
		</tr>
		<tr id="adv00" style="display: none;">
			<td class="ObjectDetailsTopic" style="padding-left: 18px;">GUID:</td>
			<td class="ObjectDetailsValue">{B3A0526B-7D1F-4f20-B503-5160448A1D37}</td>
		</tr>
		<tr id="adv01" style="display: none;">
			<td class="ObjectDetailsTopic" style="padding-left: 18px;">ダイアグラム:</td>
			<td class="ObjectDetailsValue"><a href="EA1.html">exampledb-erd</a></td>
		</tr>
	</table>
	<div class="ObjectDetailsNotes">&#20027;&#12395;&#20250;&#21729;&#12398;&#20303;&#25152;&#12395;&#23550;&#24540;&#12377;&#12427;&#22320;&#22495;&#12290;&lt;br /&gt;&lt;/p&gt;&lt;p&gt;&#12363;&#12394;&#12426;&#12374;&#12387;&#12367;&#12426;&#12375;&#12383;&#24863;&#12376;&#12391;&#12399;&#12354;&#12427;&#12290;&lt;br /&gt;&lt;/p&gt;&lt;p&gt;&#26989;&#21209;&#30340;one-to-one&#12398;&#35242;&#12486;&#12540;&#12502;&#12523;&#12290;&lt;br /&gt;&lt;/p&gt;</div>

	<div class="TableGroup" id="TableGroup">
		<ul class="ItemTitle">
			<li onClick="parent.toggleItem('Attributes');" id="AttributesTitle">属性</li>
			<li onClick="parent.toggleItem('Operations');" id="OperationsTitle">操作</li>
			<li onClick="parent.toggleItem('Associationsソース');" id="AssociationsソースTitle">接続の概要 ソース</li>
		</ul>
<div class="ItemBody" id="AttributesTable">
	<table border="0" cellspacing="0" cellpadding="0" class="Table">
		<tr>
			<td width="100%" class="TableHeading">属性</td>
		</tr>
						<tr>
				<td width="100%" class="TableRow" valign="top"><i>public INTEGER</i><br /><strong>&nbsp;&nbsp;REGION_ID</strong></td>
			</tr>
			<tr>
				<td class="TableRowBottomDashed"  colspan="1">
					<div class="DetailsDivParent"><img src="../images/minus03.gif" align="absmiddle" id="DetailsImageAttributes175" onclick="parent.toggleDiv('detailsDIVAttributes175','DetailsImageAttributes175')" />詳細:
						<div id="detailsDIVAttributes175" class="DetailsDiv" >
						<i>別名:</i> 地域ＩＤ<br><i>&lt;&lt;column&gt;&gt;Ordered <br /></i><div class="ObjectDetailsNotes"><table>
	<tr>
		<td valign="top">
			<i>ノート: </i><span style="margin-left: .4cm;"> </span>
		</td>
		<td>
			地域を識別するID。&lt;br /&gt;珍しく(固定的な)マスタテーブルとしては数値だが、&lt;br /&gt;Exampleなのでやはり色々なパターンがないと。
		</td>
	</tr>
</table></div>

						</div>
					</div>
				</td>
			</tr>			<tr>
				<td width="100%" class="TableRow" valign="top"><i>public VARCHAR(50)</i><br /><strong>&nbsp;&nbsp;REGION_NAME</strong></td>
			</tr>
			<tr>
				<td class="TableRowBottomDashed"  colspan="1">
					<div class="DetailsDivParent"><img src="../images/minus03.gif" align="absmiddle" id="DetailsImageAttributes176" onclick="parent.toggleDiv('detailsDIVAttributes176','DetailsImageAttributes176')" />詳細:
						<div id="detailsDIVAttributes176" class="DetailsDiv" >
						<i>別名:</i> 地域名称<br><i>&lt;&lt;column&gt;&gt;</i><div class="ObjectDetailsNotes"><table>
	<tr>
		<td valign="top">
			<i>ノート: </i><span style="margin-left: .4cm;"> </span>
		</td>
		<td>
			地域を表す名称。
		</td>
	</tr>
</table></div>

						</div>
					</div>
				</td>
			</tr>
	</table>
</div>
<div class="ItemBody" id="OperationsTable">
	<table border="0" cellspacing="0" cellpadding="0" class="Table">
		<tr>
			<td width="100%" class="TableHeading">操作</td>
		</tr>
						<tr>
				<td width="100%" class="TableRow">
					<i>public</i><br />
					<strong>PK_MEMBER_STATUS</strong>(<br />
					<a href="#" onclick="parent.toggleData('param{E8BF97E0-5B7E-49c0-BCCB-6F5746E3CFFB}')" style="text-decoration: none; color: #000000;"><img src="../images/plus03.gif" align="absmiddle" id="param{E8BF97E0-5B7E-49c0-BCCB-6F5746E3CFFB}" border="0" />REGION_ID: INTEGER</a>, 
					<table border="0" cellspacing="0" cellpadding="0" class="Table" style="padding: 4px 18px;">
						<tr id="param{E8BF97E0-5B7E-49c0-BCCB-6F5746E3CFFB}00" style="display: none;">
							<td width="50"><strong>既定値:</strong></td>
							<td></td>
						</tr>
						<tr id="param{E8BF97E0-5B7E-49c0-BCCB-6F5746E3CFFB}01" style="display: none;">
							<td width="50"><strong>種類:</strong></td>
							<td>in</td>
						</tr>
						<tr id="param{E8BF97E0-5B7E-49c0-BCCB-6F5746E3CFFB}02" style="display: none;">
							<td width="50"><strong>ステレオタイプ: </strong></td>
							<td></td>
						</tr>
						<tr id="param{E8BF97E0-5B7E-49c0-BCCB-6F5746E3CFFB}03" style="display: none;">
							<td width="50"></td>
							<td></td>
						</tr>
					</table>
):
				</td>
			</tr>
			<tr>
				<td class="TableRowBottomDashed"  colspan="1">
					<div class="DetailsDivParent"><img src="../images/minus03.gif" align="absmiddle" id="DetailsImageOperations177" onclick="parent.toggleDiv('detailsDIVOperations177','DetailsImageOperations177')" />詳細:
						<div id="detailsDIVOperations177" class="DetailsDiv" >
					<i> &lt;&lt;PK&gt;&gt; </i>
					<table>
						<tr>
							<td valign = "top"><i></i><span style="margin-left: .7cm;"> </span></td>
							<td></td>
						</tr>
					</table>
					
					
					
						</div>
					</div>
				</td>
			</tr>


		</table>
</div>		<div class="ItemBody" id="AssociationsソースTable">
			<table border="0" cellspacing="0" cellpadding="0" class="Table">
				<tr>
					<td width="40%" class="TableHeading">要素</td>
					<td width="30%" class="TableHeading">ソースの役割</td>
					<td width="30%" class="TableHeading">ターゲットの役割</td>
				</tr>
				<tr>
					<td width="40%" class="TableRow" valign="top">
						<a href="EA11.html">«table» MEMBER_ADDRESS</a><br />
						クラス «FK» 
					</td>
					<td width="30%" class="TableRow" valign="top">
						<strong>名前:</strong> FK_MEMBER_ADDRESS_REGION<br />
						&nbsp;
					</td>
					<td width="30%" class="TableRow" valign="top">
						<strong>名前:</strong> PK_MEMBER_STATUS<br />
						&nbsp;	
					</td>
				</tr>
				<tr>
					<td class="TableRowBottomDashed"  colspan="3">
						<div class="DetailsDivParent"><img src="../images/minus03.gif" align="absmiddle" id="DetailsImageLink179" onclick="parent.toggleDiv('detailsDIVLink179','DetailsImageLink179')" />詳細:
							<div id="detailsDIVLink179" class="DetailsDiv" >
							&nbsp;
							</div>
						</div>
					</td>
				</tr>

			</table>
		</div>
	</div>
<div class="pageFooter"></div>
 
</body>
</html>