<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>MEMBER_LOGIN</title>
<link href="../css/ea.css" rel="stylesheet" type="text/css" />
<script>
function initPage(src) {
	if(parent==this&&(this.location+"").indexOf('EARoot')!=-1)
		document.location=(this.location+"").substring(0,(this.location+"").indexOf('EARoot'))+"index"+(this.location+"").substring((this.location+"").lastIndexOf('.'))+"?goto="+((this.location+"").substring((this.location+"").indexOf('EARoot')+7,(this.location+"").lastIndexOf('.')).replace(/\//g,':').replace(/EA/g,""));
	else
		parent.initPage(src);
}
</script>
</head>
<body onload="initPage(this);" class="Content">
<div class="pageHeader"></div>
<div class="PageBody">
	<span class="ObjectTitle">MEMBER_LOGIN  (会員ログイン) : public  &lt;&lt;table&gt;&gt; クラス</span>
	<table border="0" cellpadding="0" cellspacing="0" class="ObjectDetails">
		<tr>
			<td width="15%" class="ObjectDetailsTopic">作成日:</td>
			<td width="85%" class="ObjectDetailsValue">2007/10/21 16:26:06</td>
		</tr>
		<tr>
			<td class="ObjectDetailsTopic">更新日:</td>
			<td class="ObjectDetailsValue">2011/05/04 23:26:08</td>
		</tr>
		<tr style="height: 10px"><td colspan="2"></td></tr>
		<tr>
			<td class="ObjectDetailsTopic"><img src="../images/plus03.gif" align="absmiddle" id="proj" onclick="parent.toggleData(this.id)" />プロジェクト:</td>
			<td class="ObjectDetailsValue"></td>
		</tr>
		<tr id="proj00" style="display: none;">
			<td class="ObjectDetailsTopic" style="padding-left: 18px;">作者:</td>
			<td class="ObjectDetailsValue"></td>
		</tr>
		<tr id="proj01" style="display: none;">
			<td class="ObjectDetailsTopic" style="padding-left: 18px;">バージョン:</td>
			<td class="ObjectDetailsValue">1.0</td>
		</tr>
		<tr id="proj02" style="display: none;">
			<td class="ObjectDetailsTopic" style="padding-left: 18px;">フェーズ:</td>
			<td class="ObjectDetailsValue">1.0</td>
		</tr>
		<tr id="proj03" style="display: none;">
			<td class="ObjectDetailsTopic" style="padding-left: 18px;">状態:</td>
			<td class="ObjectDetailsValue">設計中</td>
		</tr>
		<tr id="proj04" style="display: none;">
			<td class="ObjectDetailsTopic" style="padding-left: 18px;">複雑度:</td>
			<td class="ObjectDetailsValue">簡単</td>
		</tr>
		<tr>
			<td class="ObjectDetailsTopic"><img src="../images/plus03.gif" align="absmiddle" id="adv" onclick="parent.toggleData(this.id)" />追加情報:</td>
			<td class="ObjectDetailsValue"></td>
		</tr>
		<tr id="adv00" style="display: none;">
			<td class="ObjectDetailsTopic" style="padding-left: 18px;">GUID:</td>
			<td class="ObjectDetailsValue">{B603E32C-BE34-4f8f-8EEC-9A532DBFDEE2}</td>
		</tr>
		<tr id="adv01" style="display: none;">
			<td class="ObjectDetailsTopic" style="padding-left: 18px;">ダイアグラム:</td>
			<td class="ObjectDetailsValue"><a href="EA1.htm">exampledb-erd</a></td>
		</tr>
	</table>
	<div class="ObjectDetailsNotes">&#12525;&#12464;&#12452;&#12531;&#12377;&#12427;&#12383;&#12403;&#12395;&#30331;&#37682;&#12373;&#12428;&#12427;&#12525;&#12464;&#12452;&#12531;&#23653;&#27508;&#12290;&lt;br /&gt;&lt;/p&gt;&lt;p&gt;&#30331;&#37682;&#12373;&#12428;&#12383;&#12425;&#26356;&#26032;&#12373;&#12428;&#12427;&#12418;&#21066;&#38500;&#12373;&#12428;&#12427;&#12371;&#12392;&#12418;&#12394;&#12356;&#12290;&lt;br /&gt;&lt;/p&gt;&lt;p&gt;&#12373;&#12425;&#12395;&#30331;&#37682;&#12377;&#12427;&#20154;&#12418;&#12503;&#12525;&#12464;&#12521;&#12512;&#12418;&#12399;&#12387;&#12365;&#12426;&#12375;&#12390;&#12356;&#12427;&#12398;&#12391;&#12289;&lt;br /&gt;&lt;/p&gt;&lt;p&gt;&#12371;&#12371;&#12391;&#12399;&#20849;&#36890;&#12459;&#12521;&#12512;&#12399;(&#32025;&#38754;&#12398;&#37117;&#21512;&#19978;&#12418;&#12354;&#12387;&#12390;)&#30465;&#30053;&#12375;&#12390;&#12356;&#12427;&#12290;&lt;br /&gt;&lt;/p&gt;</div>

	<div class="TableGroup" id="TableGroup">
		<ul class="ItemTitle">
			<li onClick="parent.toggleItem('Attributes');" id="AttributesTitle">属性</li>
			<li onClick="parent.toggleItem('Operations');" id="OperationsTitle">操作</li>
			<li onClick="parent.toggleItem('Associationsターゲット');" id="AssociationsターゲットTitle">接続の概要 ターゲット</li>
		</ul>
<div class="ItemBody" id="AttributesTable">
	<table border="0" cellspacing="0" cellpadding="0" class="Table">
		<tr>
			<td width="100%" class="TableHeading">属性</td>
		</tr>
						<tr>
				<td width="100%" class="TableRow" valign="top"><i>public BIGINT</i><br /><strong>&nbsp;&nbsp;MEMBER_LOGIN_ID</strong></td>
			</tr>
			<tr>
				<td class="TableRowBottomDashed"  colspan="1">
					<div class="DetailsDivParent"><img src="../images/minus03.gif" align="absmiddle" id="DetailsImageAttributes50" onclick="parent.toggleDiv('detailsDIVAttributes50','DetailsImageAttributes50')" />詳細:
						<div id="detailsDIVAttributes50" class="DetailsDiv" >
						<i>別名:</i> 会員ログインID<br><i>&lt;&lt;column&gt;&gt;Ordered <br /></i>&nbsp;
						</div>
					</div>
				</td>
			</tr>			<tr>
				<td width="100%" class="TableRow" valign="top"><i>public static INTEGER</i><br /><strong>&nbsp;&nbsp;MEMBER_ID</strong></td>
			</tr>
			<tr>
				<td class="TableRowBottomDashed"  colspan="1">
					<div class="DetailsDivParent"><img src="../images/minus03.gif" align="absmiddle" id="DetailsImageAttributes51" onclick="parent.toggleDiv('detailsDIVAttributes51','DetailsImageAttributes51')" />詳細:
						<div id="detailsDIVAttributes51" class="DetailsDiv" >
						<i>別名:</i> 会員ID<br><i>&lt;&lt;column&gt;&gt;</i>&nbsp;
						</div>
					</div>
				</td>
			</tr>			<tr>
				<td width="100%" class="TableRow" valign="top"><i>public static DATETIME</i><br /><strong>&nbsp;&nbsp;LOGIN_DATETIME</strong></td>
			</tr>
			<tr>
				<td class="TableRowBottomDashed"  colspan="1">
					<div class="DetailsDivParent"><img src="../images/minus03.gif" align="absmiddle" id="DetailsImageAttributes52" onclick="parent.toggleDiv('detailsDIVAttributes52','DetailsImageAttributes52')" />詳細:
						<div id="detailsDIVAttributes52" class="DetailsDiv" >
						<i>別名:</i> ログイン日時<br><i>&lt;&lt;column&gt;&gt;</i><div class="ObjectDetailsNotes"><table>
	<tr>
		<td valign="top">
			<i>ノート: </i><span style="margin-left: .4cm;"> </span>
		</td>
		<td>
			ログインした瞬間の日時。
		</td>
	</tr>
</table></div>

						</div>
					</div>
				</td>
			</tr>			<tr>
				<td width="100%" class="TableRow" valign="top"><i>public INTEGER</i><br /><strong>&nbsp;&nbsp;MOBILE_LOGIN_FLG</strong></td>
			</tr>
			<tr>
				<td class="TableRowBottomDashed"  colspan="1">
					<div class="DetailsDivParent"><img src="../images/minus03.gif" align="absmiddle" id="DetailsImageAttributes53" onclick="parent.toggleDiv('detailsDIVAttributes53','DetailsImageAttributes53')" />詳細:
						<div id="detailsDIVAttributes53" class="DetailsDiv" >
						<i>別名:</i> モバイルログインフラグ<br><i>&lt;&lt;column&gt;&gt;</i><div class="ObjectDetailsNotes"><table>
	<tr>
		<td valign="top">
			<i>ノート: </i><span style="margin-left: .4cm;"> </span>
		</td>
		<td>
			モバイル機器からのログインか否か。
		</td>
	</tr>
</table></div>

						</div>
					</div>
				</td>
			</tr>			<tr>
				<td width="100%" class="TableRow" valign="top"><i>public CHAR(3)</i><br /><strong>&nbsp;&nbsp;LOGIN_MEMBER_STATUS_CODE</strong></td>
			</tr>
			<tr>
				<td class="TableRowBottomDashed"  colspan="1">
					<div class="DetailsDivParent"><img src="../images/minus03.gif" align="absmiddle" id="DetailsImageAttributes54" onclick="parent.toggleDiv('detailsDIVAttributes54','DetailsImageAttributes54')" />詳細:
						<div id="detailsDIVAttributes54" class="DetailsDiv" >
						<i>別名:</i> ログイン時会員ステータス<br><i>&lt;&lt;column&gt;&gt;</i>&nbsp;
						</div>
					</div>
				</td>
			</tr>
	</table>
</div>
<div class="ItemBody" id="OperationsTable">
	<table border="0" cellspacing="0" cellpadding="0" class="Table">
		<tr>
			<td width="100%" class="TableHeading">操作</td>
		</tr>
						<tr>
				<td width="100%" class="TableRow">
					<i>public</i><br />
					<strong>PK_PURCHASE</strong>(<br />
					<a href="#" onclick="parent.toggleData('param{F50F050A-1B6A-4c87-A42F-CA5C26F7B832}')" style="text-decoration: none; color: #000000;"><img src="../images/plus03.gif" align="absmiddle" id="param{F50F050A-1B6A-4c87-A42F-CA5C26F7B832}" border="0" />MEMBER_LOGIN_ID: BIGINT</a>, 
					<table border="0" cellspacing="0" cellpadding="0" class="Table" style="padding: 4px 18px;">
						<tr id="param{F50F050A-1B6A-4c87-A42F-CA5C26F7B832}00" style="display: none;">
							<td width="50"><strong>既定値:</strong></td>
							<td></td>
						</tr>
						<tr id="param{F50F050A-1B6A-4c87-A42F-CA5C26F7B832}01" style="display: none;">
							<td width="50"><strong>種類:</strong></td>
							<td>in</td>
						</tr>
						<tr id="param{F50F050A-1B6A-4c87-A42F-CA5C26F7B832}02" style="display: none;">
							<td width="50"><strong>ステレオタイプ: </strong></td>
							<td></td>
						</tr>
						<tr id="param{F50F050A-1B6A-4c87-A42F-CA5C26F7B832}03" style="display: none;">
							<td width="50"></td>
							<td></td>
						</tr>
					</table>
):
				</td>
			</tr>
			<tr>
				<td class="TableRowBottomDashed"  colspan="1">
					<div class="DetailsDivParent"><img src="../images/minus03.gif" align="absmiddle" id="DetailsImageOperations55" onclick="parent.toggleDiv('detailsDIVOperations55','DetailsImageOperations55')" />詳細:
						<div id="detailsDIVOperations55" class="DetailsDiv" >
					<i> &lt;&lt;PK&gt;&gt; </i>
					<table>
						<tr>
							<td valign = "top"><i></i><span style="margin-left: .7cm;"> </span></td>
							<td></td>
						</tr>
					</table>
					
					
					
						</div>
					</div>
				</td>
			</tr>

			<tr>
				<td width="100%" class="TableRow">
					<i>public</i><br />
					<strong>UQ_MEMBER_LOGIN</strong>(<br />
					<a href="#" onclick="parent.toggleData('param{9445E260-0933-4243-9DC7-312BB66CD8B8}')" style="text-decoration: none; color: #000000;"><img src="../images/plus03.gif" align="absmiddle" id="param{9445E260-0933-4243-9DC7-312BB66CD8B8}" border="0" />MEMBER_ID: INTEGER</a>, 
					<table border="0" cellspacing="0" cellpadding="0" class="Table" style="padding: 4px 18px;">
						<tr id="param{9445E260-0933-4243-9DC7-312BB66CD8B8}00" style="display: none;">
							<td width="50"><strong>既定値:</strong></td>
							<td></td>
						</tr>
						<tr id="param{9445E260-0933-4243-9DC7-312BB66CD8B8}01" style="display: none;">
							<td width="50"><strong>種類:</strong></td>
							<td>in</td>
						</tr>
						<tr id="param{9445E260-0933-4243-9DC7-312BB66CD8B8}02" style="display: none;">
							<td width="50"><strong>ステレオタイプ: </strong></td>
							<td></td>
						</tr>
						<tr id="param{9445E260-0933-4243-9DC7-312BB66CD8B8}03" style="display: none;">
							<td width="50"></td>
							<td></td>
						</tr>
					</table>
					<a href="#" onclick="parent.toggleData('param{2A7CE463-6E68-4c34-8862-F535445B92ED}')" style="text-decoration: none; color: #000000;"><img src="../images/plus03.gif" align="absmiddle" id="param{2A7CE463-6E68-4c34-8862-F535445B92ED}" border="0" />LOGIN_DATETIME: DATETIME</a>, 
					<table border="0" cellspacing="0" cellpadding="0" class="Table" style="padding: 4px 18px;">
						<tr id="param{2A7CE463-6E68-4c34-8862-F535445B92ED}00" style="display: none;">
							<td width="50"><strong>既定値:</strong></td>
							<td></td>
						</tr>
						<tr id="param{2A7CE463-6E68-4c34-8862-F535445B92ED}01" style="display: none;">
							<td width="50"><strong>種類:</strong></td>
							<td>in</td>
						</tr>
						<tr id="param{2A7CE463-6E68-4c34-8862-F535445B92ED}02" style="display: none;">
							<td width="50"><strong>ステレオタイプ: </strong></td>
							<td></td>
						</tr>
						<tr id="param{2A7CE463-6E68-4c34-8862-F535445B92ED}03" style="display: none;">
							<td width="50"></td>
							<td></td>
						</tr>
					</table>
):
				</td>
			</tr>
			<tr>
				<td class="TableRowBottomDashed"  colspan="1">
					<div class="DetailsDivParent"><img src="../images/minus03.gif" align="absmiddle" id="DetailsImageOperations56" onclick="parent.toggleDiv('detailsDIVOperations56','DetailsImageOperations56')" />詳細:
						<div id="detailsDIVOperations56" class="DetailsDiv" >
					<i> &lt;&lt;unique&gt;&gt; </i>
					<table>
						<tr>
							<td valign = "top"><i></i><span style="margin-left: .7cm;"> </span></td>
							<td></td>
						</tr>
					</table>
					
					
					
						</div>
					</div>
				</td>
			</tr>

			<tr>
				<td width="100%" class="TableRow">
					<i>public</i><br />
					<strong>FK_MEMBER_LOGIN_MEMBER</strong>(<br />
					<a href="#" onclick="parent.toggleData('param{D3017D59-D149-488e-80A2-F093F4B30F5A}')" style="text-decoration: none; color: #000000;"><img src="../images/plus03.gif" align="absmiddle" id="param{D3017D59-D149-488e-80A2-F093F4B30F5A}" border="0" />MEMBER_ID: INTEGER</a>, 
					<table border="0" cellspacing="0" cellpadding="0" class="Table" style="padding: 4px 18px;">
						<tr id="param{D3017D59-D149-488e-80A2-F093F4B30F5A}00" style="display: none;">
							<td width="50"><strong>既定値:</strong></td>
							<td></td>
						</tr>
						<tr id="param{D3017D59-D149-488e-80A2-F093F4B30F5A}01" style="display: none;">
							<td width="50"><strong>種類:</strong></td>
							<td>in</td>
						</tr>
						<tr id="param{D3017D59-D149-488e-80A2-F093F4B30F5A}02" style="display: none;">
							<td width="50"><strong>ステレオタイプ: </strong></td>
							<td></td>
						</tr>
						<tr id="param{D3017D59-D149-488e-80A2-F093F4B30F5A}03" style="display: none;">
							<td width="50"></td>
							<td></td>
						</tr>
					</table>
):
				</td>
			</tr>
			<tr>
				<td class="TableRowBottomDashed"  colspan="1">
					<div class="DetailsDivParent"><img src="../images/minus03.gif" align="absmiddle" id="DetailsImageOperations57" onclick="parent.toggleDiv('detailsDIVOperations57','DetailsImageOperations57')" />詳細:
						<div id="detailsDIVOperations57" class="DetailsDiv" >
					<i> &lt;&lt;FK&gt;&gt; </i>
					<table>
						<tr>
							<td valign = "top"><i>タグ:</i><span style="margin-left: .7cm;"> </span></td>
							<td>property=Delete Cascade=0;Update Cascade=0;<br/></td>
						</tr>
					</table>
					
					
					
						</div>
					</div>
				</td>
			</tr>

			<tr>
				<td width="100%" class="TableRow">
					<i>public</i><br />
					<strong>FK_MEMBER_LOGIN_MEMBER_STATUS</strong>(<br />
					<a href="#" onclick="parent.toggleData('param{818CAFDE-8A2C-4cb4-8CAE-ED30BF2F0F43}')" style="text-decoration: none; color: #000000;"><img src="../images/plus03.gif" align="absmiddle" id="param{818CAFDE-8A2C-4cb4-8CAE-ED30BF2F0F43}" border="0" />LOGIN_MEMBER_STATUS_CODE: CHAR</a>, 
					<table border="0" cellspacing="0" cellpadding="0" class="Table" style="padding: 4px 18px;">
						<tr id="param{818CAFDE-8A2C-4cb4-8CAE-ED30BF2F0F43}00" style="display: none;">
							<td width="50"><strong>既定値:</strong></td>
							<td></td>
						</tr>
						<tr id="param{818CAFDE-8A2C-4cb4-8CAE-ED30BF2F0F43}01" style="display: none;">
							<td width="50"><strong>種類:</strong></td>
							<td>in</td>
						</tr>
						<tr id="param{818CAFDE-8A2C-4cb4-8CAE-ED30BF2F0F43}02" style="display: none;">
							<td width="50"><strong>ステレオタイプ: </strong></td>
							<td></td>
						</tr>
						<tr id="param{818CAFDE-8A2C-4cb4-8CAE-ED30BF2F0F43}03" style="display: none;">
							<td width="50"></td>
							<td></td>
						</tr>
					</table>
):
				</td>
			</tr>
			<tr>
				<td class="TableRowBottomDashed"  colspan="1">
					<div class="DetailsDivParent"><img src="../images/minus03.gif" align="absmiddle" id="DetailsImageOperations58" onclick="parent.toggleDiv('detailsDIVOperations58','DetailsImageOperations58')" />詳細:
						<div id="detailsDIVOperations58" class="DetailsDiv" >
					<i> &lt;&lt;FK&gt;&gt; </i>
					<table>
						<tr>
							<td valign = "top"><i>タグ:</i><span style="margin-left: .7cm;"> </span></td>
							<td>property=Delete Cascade=0;Update Cascade=0;<br/></td>
						</tr>
					</table>
					
					
					
						</div>
					</div>
				</td>
			</tr>


		</table>
</div>		<div class="ItemBody" id="AssociationsターゲットTable">
			<table border="0" cellspacing="0" cellpadding="0" class="Table">
				<tr>
					<td width="40%" class="TableHeading">要素</td>
					<td width="30%" class="TableHeading">ソースの役割</td>
					<td width="30%" class="TableHeading">ターゲットの役割</td>
				</tr>
				<tr>
					<td width="40%" class="TableRow" valign="top">
						<a href="EA7.htm">«table» MEMBER</a><br />
						クラス «FK» 
					</td>
					<td width="30%" class="TableRow" valign="top">
						<strong>名前:</strong> FK_MEMBER_LOGIN_MEMBER<br />
						&nbsp;
					</td>
					<td width="30%" class="TableRow" valign="top">
						<strong>名前:</strong> PK_MEMBER<br />
						&nbsp;	
					</td>
				</tr>
				<tr>
					<td class="TableRowBottomDashed"  colspan="3">
						<div class="DetailsDivParent"><img src="../images/minus03.gif" align="absmiddle" id="DetailsImageLink59" onclick="parent.toggleDiv('detailsDIVLink59','DetailsImageLink59')" />詳細:
							<div id="detailsDIVLink59" class="DetailsDiv" >
							&nbsp;
							</div>
						</div>
					</td>
				</tr>
				<tr>
					<td width="40%" class="TableRow" valign="top">
						<a href="EA12.htm">«table» MEMBER_STATUS</a><br />
						クラス «FK» 
					</td>
					<td width="30%" class="TableRow" valign="top">
						<strong>名前:</strong> FK_MEMBER_LOGIN_MEMBER_STATUS<br />
						&nbsp;
					</td>
					<td width="30%" class="TableRow" valign="top">
						<strong>名前:</strong> PK_MEMBER_STATUS<br />
						&nbsp;	
					</td>
				</tr>
				<tr>
					<td class="TableRowBottomDashed"  colspan="3">
						<div class="DetailsDivParent"><img src="../images/minus03.gif" align="absmiddle" id="DetailsImageLink60" onclick="parent.toggleDiv('detailsDIVLink60','DetailsImageLink60')" />詳細:
							<div id="detailsDIVLink60" class="DetailsDiv" >
							&nbsp;
							</div>
						</div>
					</td>
				</tr>

			</table>
		</div>
	</div>
<div class="pageFooter"></div>
 
</body>
</html>