@charset "UTF-8";

body {
  /*color:  #424242;*/
  font-family:  Verdana, Arial, sans-serif;
  font-size: 90%;
}

/* ------------------------------ main layout { */
#header {
  padding: 0 10px 25px 0;
}
#content {
  float: right;
  width: 75%;
}
#sideBar {
  margin-right: 78%;
}
#footer {
  clear: right;
}
/* ------------------------------ main layout } */

/* ------------------------------ header { */
#header h1 {
  color: #fff;
  background: #af0000;
  font-size: 280%;
  padding: 10px 0 0 20px;
  margin-bottom: 10px;
}

#header div {
  border-bottom: 1px solid #af0000;
}
#header ul {
  margin: 0 0 4px 40%;
}
#header li {
  margin: 0;
  padding: 0;
  display: inline;
  list-style-type: none;
}
#header li a {
  margin: 0 10px 4px 10px;
  font-weight: bold;
  color: #af0000;
  text-decoration: none;
}
#header li a.active{
  border-bottom: 4px solid #af0000;
}
#header li a:hover {
  border-bottom: 4px solid #FF9F9F;
  color: #FF9F9F;
}
/* ------------------------------ header } */


/* ------------------------------ content { */
#content {
  line-height: 150%;
}
/* ------------------------------ content } */


/* ------------------------------ sideBar { */
#sideBar h3 {
  color: #af0000;
  background-color: #fff;
  border-left: solid 5px #af0000;
  font-size: 100%;
  padding: 5px 0 5px 5px;
  margin: 0;
  width: auto;
}
#sideBar ul {
	margin: 5px 0 10px 10px;
	padding-left: 5px;
}
#sideBar li {
  list-style-type: square;
  color: #6e7955;
  padding: 0 0 5px 0;
}
#sideBar ul li ul {
	margin-bottom: 0;
	padding-left: 0;
}
#sideBar a {
	font-size: 85%;
}
/* ------------------------------ sideBar } */


/* ------------------------------ footer { */
#footer {
  border-top: 1px solid #af0000;
}
#footer ul {
  margin: 0 0 0 35%;
}
#footer li {
  display: inline;
  list-style-type: none;
  margin-left: 10px;
}
#footer a{
  color: #5b6356;
  font-size: 85%;
  font-weight: bold;
  text-decoration: none;
}
#footer a:hover{
  text-decoration: underline;
}
/* ------------------------------ footer } */
